{% extends "layouts/main.html" %}
{# {% set containerClasses = "app-width-container--full-width" %} #}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Manage lists" %}

{% block header %}

{{ serviceHeader({
organisationName: "Defra",
productName: "Forms Designer",
serviceName: "",
containerClasses: containerClasses,
accountName: "Chris Smith",
homepageLink: "/",
signOutLink: "/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/library.html", text: "Forms library", id: "nav-library" },
{ href: "/cph-overview/draft/complete-clean.html", text: "Overview", id: "nav-overview" },
{ href: "/redesigntest/listing", text: "Editor", id: "nav-editor" }
],
activeLinkId: "nav-editor"
}) }}

{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

<div class="govuk-width-container">

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Pages',
    href: '/redesigntest/listing'
  }, {
    text: 'Lists',
    href: '/redesigntest/list-manager',
    active: true
  }]
}) }}

</div>

        <div class="x-govuk-masthead x-govuk-masthead--large">
            <div class="govuk-width-container">
            {{ govukBackLink({
                classes: "govuk-back-link--inverse govuk-!-margin-bottom-0",
                text: "Back to all lists",
                href: "list-manager"
            }) }}

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
                style="border-bottom:1px solid white; margin-bottom: 0;">

            <h1 class="govuk-heading-l--inverse x-govuk-masthead__title">
                <span class="govuk-caption-l" style="color: white;">Manage lists</span>
                Add a new list
            </h1>

        </div>
    </div>
    
    {% endblock %}
    
    <!-- manage lists -->
    
    {% block content %}
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Build your list</h2>
            
            <div class="govuk-inset-text">
                Each item will become an option in multiple choice question types
            </div>
                
            <form method="POST" action="/redesigntest/new-list">
              {{ govukInput({
                label: {
                  text: "List name",
                  classes: "govuk-label--m"
                },
                id: "name",
                name: "name",
                hint: {
                  text: "Give your list a name"
                }
              }) }}
    
              {{ govukTextarea({
                name: "items",
                id: "items",
                rows: "10",
                label: {
                  text: "List items",
                  classes: "govuk-label--m"
                },
                hint: {
                  text: "Enter each item on a new line. To optionally set an input value for each item, separate the option text and value with a colon (e.g English:en-gb)"
                }
              }) }}
    
              {{ govukButton({
                text: "Create list"
              }) }}
    
              {{ govukButton({
                text: "Cancel",
                href: "/redesigntest/list-manager",
                classes: "govuk-button--secondary"
              }) }}
            </form>
          </div>
        </div>
      </main>
    </div>
    {% endblock %}
    
    <!-- manage lists -->
