//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

@include govuk-media-query($from: desktop) {
  .app-display-until-desktop {
    display: none;
  }
}

@include govuk-media-query($until: desktop) {
  .app-display-from-desktop {
    display: none;
  }
}

.app-field-group {
  margin-bottom: govuk-spacing(4);
  // font-size: 0 removes whitespace caused by inline-block
  font-size: 0;
}

.app-field-group__item {
  width: 100%;
}

.app-field-group .govuk-form-group {
  margin-bottom: govuk-spacing(4);
}

@include govuk-media-query($from: tablet) {
  .app-field-group__item,
  .app-field-group__label,
  .app-field-group__input {
    display: inline-block;
    margin-right: govuk-spacing(3);

    &:last-child {
      margin-right: 0;
    }
  }

  .app-field-group__item {
    width: auto;
  }

  .app-field-group__button {
    display: block;
  }

  .app-field-group .govuk-form-group {
    margin-bottom: govuk-spacing(6);
  }
}

// Hide empty <h2> without service header `params.pageName`
@include govuk-media-query($until: tablet) {
  .service-header__heading:empty {
    display: none;
  }
}

// Hide border from single "Sign in" navigation item
@include govuk-media-query($from: tablet) {
  .one-login-header__nav__list-item:only-child {
    border-left-width: 0;
  }
}

.login-nav {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    color: #0b0c0c;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #00a33b;
  }
  .login-nav:after {
    content: "";
    display: block;
    clear: both;
  }
  @media print {
    .login-nav {
      font-family: sans-serif;
    }
  }
  @include govuk-media-query($from: tablet) {
    .login-nav {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  @media print {
    .login-nav {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  @media print {
    .login-nav {
      color: #000000;
    }
  }

  .login-nav__list {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    list-style-type: none;
    float: right;
  }
  .login-nav__list:after {
    content: "";
    display: block;
    clear: both;
  }

  .login-nav__list-item {
    position: relative;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 0;
    float: left;
  }

  .login-nav__list-item-new {
    position: relative;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    border-right: 1px solid #b1b4b6;
  }

  .login-nav__list-item-new:first-child {
    padding-left: 0;
  }

  .login-nav__list-item-new:last-child {
    padding-right: 0;
    border-right: none;
  }

  .login-nav__link {
    margin-right: 5px;
  }

  .login-nav__link-new {
    margin-right: 0;
  }

  .login-nav__details {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    color: #0b0c0c;
    margin: 0;
    padding-bottom: 10px;
    float: left;
  }
  .login-nav__details:after {
    content: "";
    display: block;
    clear: both;
  }
  @media print {
    .login-nav__details {
      font-family: sans-serif;
    }
  }
  @include govuk-media-query($from: tablet) {
    .login-nav__details {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  @media print {
    .login-nav__details {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  @media print {
    .login-nav__details {
      color: #000000;
    }
  }

  /*** Small viewports ***/
  @include govuk-media-query($until: tablet) {
    .login-nav__details {
      float: none;
    }
    .login-nav__list {
      float: none;
    }
  }

.gem-c-search {
  position: relative;
  margin-bottom: 30px
}

.gem-c-search__label {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.5;
  display: block;
  color: #0b0c0c
}

@media print {
  .gem-c-search__label {
      font-family: sans-serif
  }
}

@include govuk-media-query($from: tablet) {
  .gem-c-search__label {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 2.1052631579
  }
}

@media print {
  .gem-c-search__label {
      font-size: 14pt;
      line-height: 40px
  }
}

.gem-c-search__label h1 {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.5;
  margin: 0
}

@media print {
  .gem-c-search__label h1 {
      font-family: sans-serif
  }
}

@include govuk-media-query($from: tablet) {
  .gem-c-search__label h1 {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 2.1052631579
  }
}

@media print {
  .gem-c-search__label h1 {
      font-size: 14pt;
      line-height: 40px
  }
}

.js-enabled .gem-c-search__label {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  padding-left: 15px;
  z-index: 1;
  color: #505a5f;
  background: #fff
}

.js-enabled .gem-c-search--separate-label .gem-c-search__label {
  color: #0b0c0c
}

.gem-c-search__input[type="search"] {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4736842105;
  margin: 0;
  width: 100%;
  height: 2.5em;
  padding: .375em;
  border: 2px solid #0b0c0c;
  background: #fff;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

@media print {
  .gem-c-search__input[type="search"] {
      font-family: sans-serif
  }
}

@include govuk-media-query($from: tablet) {
  .gem-c-search__input[type="search"] {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.4736842105
  }
}

@media print {
  .gem-c-search__input[type="search"] {
      font-size: 14pt;
      line-height: 1.4736842105
  }
}

@include govuk-media-query($from: tablet) {
  .gem-c-search__input[type="search"] {
      height:2.1052631579em;
      padding: .3157894737em
  }
}

.gem-c-search__input[type="search"]:focus,.gem-c-search__input.focus[type="search"] {
  z-index: 2
}

.gem-c-search__input[type="search"]:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px
}

.gem-c-search__submit {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: 0;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  text-indent: -5000px;
  overflow: hidden
}

.gem-c-search__submit .gem-c-search__icon {
  display: block;
  pointer-events: none;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 10px
}

.gem-c-search__submit:focus {
  z-index: 2;
  outline: 3px solid #fd0;
  box-shadow: inset 0 0 0 4px #0b0c0c
}

.gem-c-search__submit::-moz-focus-inner {
  border: 0
}

.gem-c-search__item-wrapper {
  display: table;
  width: 100%;
  background: #fff
}

.gem-c-search__item {
  position: relative;
  display: table-cell;
  vertical-align: top
}

.gem-c-search__submit-wrapper {
  width: 1%
}

.gem-c-search--on-govuk-blue .gem-c-search__label {
  color: #fff
}

.gem-c-search--on-govuk-blue .gem-c-search__input {
  border-width: 0;
  outline: 2px solid transparent;
  outline-offset: 0
}

.gem-c-search--on-govuk-blue .gem-c-search__input:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
  box-shadow: inset 0 0 0 4px
}

.gem-c-search--on-govuk-blue .gem-c-search__submit {
  background-color: #0b0c0c;
  color: #fff
}

.gem-c-search--on-govuk-blue .gem-c-search__submit:hover {
  background-color: #171919
}

.js-enabled .gem-c-search--on-govuk-blue .gem-c-search__label {
  color: #505a5f
}

.gem-c-search--homepage .gem-c-search__submit {
  background-color: #d2e2f1;
  color: #1d70b8
}

.gem-c-search--homepage .gem-c-search__submit:hover {
  background-color: #e5eff7
}

.gem-c-search--on-white .gem-c-search__submit {
  background-color: #1d70b8;
  color: #fff
}

.gem-c-search--on-white .gem-c-search__submit:hover {
  background-color: #207dce
}

.gem-c-search--on-white .gem-c-search__input[type="search"] {
  border-right-width: 0
}

.gem-c-search--on-white .gem-c-search__input[type="search"]:focus {
  border-right-width: 2px
}

.gem-c-search__label--white {
  color: #fff
}

.gem-c-search--no-border .gem-c-search__label {
  color: #fff
}

.gem-c-search--no-border .gem-c-search__input[type="search"] {
  border: 0
}

.gem-c-search--no-border .gem-c-search__input[type="search"]:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
  box-shadow: inset 0 0 0 4px
}

.js-enabled .gem-c-search--no-border .gem-c-search__label {
  color: #505a5f
}

.gem-c-search--large .gem-c-search__label {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 3.125
}

@media print {
  .gem-c-search--large .gem-c-search__label {
      font-family: sans-serif
  }
}

@include govuk-media-query($from: tablet) {
  .gem-c-search--large .gem-c-search__label {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 2.6315789474
  }
}

@media print {
  .gem-c-search--large .gem-c-search__label {
      font-size: 14pt;
      line-height: 50px
  }
}

.gem-c-search--large .gem-c-search__input[type="search"] {
  height: 50px
}

.gem-c-search--large .gem-c-search__submit {
  width: 50px;
  height: 50px
}

.gem-c-search--large .gem-c-search__submit .gem-c-search__icon {
  display: block;
  pointer-events: none;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 15px;
  left: 15px
}

.gem-c-search--separate-label .gem-c-search__label {
  position: relative;
  top: auto;
  left: auto;
  padding-left: 0
}

.contact {
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px
}

// PHES

.search-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.search-submit {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url(/defra-forms/app/assets/images/search-button.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  text-indent: -5000px;
  overflow: hidden;
}

@include govuk-device-pixel-ratio {
  .search-submit {
    background-size: 52.5px auto;
    background-position: 115% 50%;
  }
}
.search-submit:focus {
  z-index: 2;
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  box-shadow: inset 0 0 0 4px #0b0c0c;
}

.search-submit::-moz-focus-inner {
  border: 0;
}

.search-input-wrapper {
  display: table;
  width: 100%;
  background: #ffffff;
}

.search-input-submit-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.search-input-submit-wrapper {
  width: 1%;
}

.search-submit {
  background-color: #005ea5;
  color: #ffffff;
}

.search-submit:hover {
  background-color: #3699d3;
}

.search-wrapper input[type=search] {
  border-right-width: 0;
}

.search-wrapper-no-icon input[type=search] {
  border-right-width: 2px;
}

.search-wrapper input[type=search]:focus {
  border-right-width: 2px;
}

.search-wrapper input[type=search] {
  height: 50px;
}

.search-wrapper .search-submit {
  width: 50px;
  height: 50px;
  background-position: 8px 50%;
}

@include govuk-device-pixel-ratio {
  .search-wrapper .search-submit {
    background-size: 60px auto;
    background-position: 160% 50%;
  }
}

.defra-filter--action {
  position: relative;
}
.defra-filter--action:after {
  content: "";
  display: block;
  clear: both;
}
.defra-filter--action .govuk-button {
  margin-bottom: 0;
  padding: 16px 50px 10px 20px;
  /* width: 100%; */
  display: block;
  text-align: left;
  background-color: #f3f2f1;
  box-shadow: 0 2px 0 #929191;
  font-weight: 700;
  margin-bottom: 20px;
}
@include govuk-media-query($from: desktop) {
  .defra-filter--action .govuk-button {
    margin-bottom: 0;
  }
}
.defra-filter--action .defra-accordion__icon:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: #0b0c0c;
}
.defra-filter--action .defra-filter__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
}
.defra-filter--action .defra-filter__icon:before {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: #0b0c0c;
}
.defra-filter--action .defra-filter__icon:after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: #0b0c0c;
}
.defra-filter--action .defra-filter__icon:before {
  width: 100%;
}
.defra-filter--action .defra-filter__icon:after {
  height: 100%;
}
.defra-filter--action .defra-filter-button--active {
  background-color: #005ea5 !important;
  color: #fff !important;
  box-shadow: 0 2px 0 #091728;
}
.defra-filter--action .defra-filter-button--active .defra-filter__icon:before {
  background-color: #fff;
}
.defra-filter--action .defra-filter-button--active .defra-filter__icon:after {
  background-color: #fff;
}

.defra-filter--content {
  background-color: #f3f2f1;
  padding: 20px;
  margin-bottom: 20px;
}
@include govuk-media-query($from: desktop) {
  .defra-filter--content {
    margin-top: -10px;
  }
}
.defra-filter--content .govuk-grid-column--divider {
  border-right: 1px solid #b1b4b6;
}

.defra-filter--open .govuk-button {
  box-shadow: none !important;
  background-color: #dee0e2 !important;
  color: #0b0c0c !important;
  margin-bottom: 0;
}
@include govuk-media-query($from: desktop) {
  .defra-filter--open .govuk-button {
    padding-bottom: 30px;
    height: 70px;
  }
  .defra-filter--open .govuk-button .defra-filter__icon {
    top: 25px;
  }
}
.defra-filter--open .govuk-button .defra-filter__icon:before {
  background-color: #0b0c0c !important;
}
.defra-filter--open .govuk-button .defra-filter__icon:after {
  background-color: transparent !important;
}