//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

$defra-brand-colour: govuk-organisation-colour(department-for-environment-food-rural-affairs);
$defra-brand-colour-high-contrast: #008531;

$defra-link-colour: govuk-shade($defra-brand-colour-high-contrast, 25%);
$defra-link-colour-hover: govuk-shade($defra-link-colour, 50%);

.one-login-header {
  border-bottom-color: $defra-brand-colour;
}

.one-login-header__logotype-text {
  margin: 0 5px 0 2px;
}

.one-login-header__product-name {
  @include govuk-font($size: 24, $line-height: 1);
  display: inline-table;
}

.service-header__nav-list-item-link {
  &:link,
  &:visited {
    color: $defra-link-colour;
  }

  &:hover {
    color: $defra-link-colour-hover;
  }

  &:focus {
    color: $govuk-focus-text-colour;
  }
}

.service-header__nav-list-item.service-header__nav-list-item--active {
  border-color: $defra-brand-colour;
}

@include govuk-media-query($from: desktop) {
  .app-display-until-desktop {
    display: none;
  }
}

@include govuk-media-query($until: desktop) {
  .app-display-from-desktop {
    display: none;
  }
}

// Hide duplicate pagination ellipses
.govuk-pagination__item--ellipses + .govuk-pagination__item--ellipses {
  display: none;
}

.app-field-group {
  margin-bottom: govuk-spacing(4);
  // font-size: 0 removes whitespace caused by inline-block
  font-size: 0;
}

.app-field-group__item {
  width: 100%;
}

.app-field-group .govuk-form-group {
  margin-bottom: govuk-spacing(4);
}

@include govuk-media-query($from: tablet) {
  .app-field-group__item,
  .app-field-group__label,
  .app-field-group__input {
    display: inline-block;
    margin-right: govuk-spacing(3);

    &:last-child {
      margin-right: 0;
    }
  }

  .app-field-group__item {
    width: auto;
  }

  .app-field-group__button {
    display: block;
  }

  .app-field-group .govuk-form-group {
    margin-bottom: govuk-spacing(6);
  }
}

// Hide empty <h2> without service header `params.pageName`
@include govuk-media-query($until: tablet) {
  .service-header__heading:empty {
    display: none;
  }
}

// Hide border from single "Sign in" navigation item
@include govuk-media-query($from: tablet) {
  .one-login-header__nav__list-item:only-child {
    border-left-width: 0;
  }
}

.login-nav {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    color: #0b0c0c;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #00a33b;
  }
  .login-nav:after {
    content: "";
    display: block;
    clear: both;
  }
  @media print {
    .login-nav {
      font-family: sans-serif;
    }
  }
  @include govuk-media-query($from: tablet) {
    .login-nav {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  @media print {
    .login-nav {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  @media print {
    .login-nav {
      color: #000000;
    }
  }

  .login-nav__list {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    list-style-type: none;
    float: right;
  }
  .login-nav__list:after {
    content: "";
    display: block;
    clear: both;
  }

  .login-nav__list-item {
    position: relative;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 0;
    float: left;
  }

  .login-nav__list-item-new {
    position: relative;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    border-right: 1px solid #b1b4b6;
  }

  .login-nav__list-item-new:first-child {
    padding-left: 0;
  }

  .login-nav__list-item-new:last-child {
    padding-right: 0;
    border-right: none;
  }

  .login-nav__link {
    margin-right: 5px;
  }

  .login-nav__link-new {
    margin-right: 0;
  }

  .login-nav__details {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    color: #0b0c0c;
    margin: 0;
    padding-bottom: 10px;
    float: left;
  }
  .login-nav__details:after {
    content: "";
    display: block;
    clear: both;
  }
  @media print {
    .login-nav__details {
      font-family: sans-serif;
    }
  }
  @include govuk-media-query($from: tablet) {
    .login-nav__details {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
  @media print {
    .login-nav__details {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  @media print {
    .login-nav__details {
      color: #000000;
    }
  }

  /*** Small viewports ***/
  @include govuk-media-query($until: tablet) {
    .login-nav__details {
      float: none;
    }
    .login-nav__list {
      float: none;
    }
  }

.gem-c-search {
  position: relative;
  margin-bottom: 30px
}

.gem-c-search__label {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.5;
  display: block;
  color: #0b0c0c
}

@media print {
  .gem-c-search__label {
      font-family: sans-serif
  }
}

@include govuk-media-query($from: tablet) {
  .gem-c-search__label {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 2.1052631579
  }
}

@media print {
  .gem-c-search__label {
      font-size: 14pt;
      line-height: 40px
  }
}

.gem-c-search__label h1 {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.5;
  margin: 0
}

@media print {
  .gem-c-search__label h1 {
      font-family: sans-serif
  }
}

@include govuk-media-query($from: tablet) {
  .gem-c-search__label h1 {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 2.1052631579
  }
}

@media print {
  .gem-c-search__label h1 {
      font-size: 14pt;
      line-height: 40px
  }
}

.js-enabled .gem-c-search__label {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  padding-left: 15px;
  z-index: 1;
  color: #505a5f;
  background: #fff
}

.js-enabled .gem-c-search--separate-label .gem-c-search__label {
  color: #0b0c0c
}

.gem-c-search__input[type="search"] {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4736842105;
  margin: 0;
  width: 100%;
  height: 2.5em;
  padding: .375em;
  border: 2px solid #0b0c0c;
  background: #fff;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

@media print {
  .gem-c-search__input[type="search"] {
      font-family: sans-serif
  }
}

@include govuk-media-query($from: tablet) {
  .gem-c-search__input[type="search"] {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.4736842105
  }
}

@media print {
  .gem-c-search__input[type="search"] {
      font-size: 14pt;
      line-height: 1.4736842105
  }
}

@include govuk-media-query($from: tablet) {
  .gem-c-search__input[type="search"] {
      height:2.1052631579em;
      padding: .3157894737em
  }
}

.gem-c-search__input[type="search"]:focus,.gem-c-search__input.focus[type="search"] {
  z-index: 2
}

.gem-c-search__input[type="search"]:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px
}

.gem-c-search__submit {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: 0;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  text-indent: -5000px;
  overflow: hidden
}

.gem-c-search__submit .gem-c-search__icon {
  display: block;
  pointer-events: none;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 10px
}

.gem-c-search__submit:focus {
  z-index: 2;
  outline: 3px solid #fd0;
  box-shadow: inset 0 0 0 4px #0b0c0c
}

.gem-c-search__submit::-moz-focus-inner {
  border: 0
}

.gem-c-search__item-wrapper {
  display: table;
  width: 100%;
  background: #fff
}

.gem-c-search__item {
  position: relative;
  display: table-cell;
  vertical-align: top
}

.gem-c-search__submit-wrapper {
  width: 1%
}

.gem-c-search--on-govuk-blue .gem-c-search__label {
  color: #fff
}

.gem-c-search--on-govuk-blue .gem-c-search__input {
  border-width: 0;
  outline: 2px solid transparent;
  outline-offset: 0
}

.gem-c-search--on-govuk-blue .gem-c-search__input:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
  box-shadow: inset 0 0 0 4px
}

.gem-c-search--on-govuk-blue .gem-c-search__submit {
  background-color: #0b0c0c;
  color: #fff
}

.gem-c-search--on-govuk-blue .gem-c-search__submit:hover {
  background-color: #171919
}

.js-enabled .gem-c-search--on-govuk-blue .gem-c-search__label {
  color: #505a5f
}

.gem-c-search--homepage .gem-c-search__submit {
  background-color: #d2e2f1;
  color: #1d70b8
}

.gem-c-search--homepage .gem-c-search__submit:hover {
  background-color: #e5eff7
}

.gem-c-search--on-white .gem-c-search__submit {
  background-color: #1d70b8;
  color: #fff
}

.gem-c-search--on-white .gem-c-search__submit:hover {
  background-color: #207dce
}

.gem-c-search--on-white .gem-c-search__input[type="search"] {
  border-right-width: 0
}

.gem-c-search--on-white .gem-c-search__input[type="search"]:focus {
  border-right-width: 2px
}

.gem-c-search__label--white {
  color: #fff
}

.gem-c-search--no-border .gem-c-search__label {
  color: #fff
}

.gem-c-search--no-border .gem-c-search__input[type="search"] {
  border: 0
}

.gem-c-search--no-border .gem-c-search__input[type="search"]:focus {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
  box-shadow: inset 0 0 0 4px
}

.js-enabled .gem-c-search--no-border .gem-c-search__label {
  color: #505a5f
}

.gem-c-search--large .gem-c-search__label {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 3.125
}

@media print {
  .gem-c-search--large .gem-c-search__label {
      font-family: sans-serif
  }
}

@include govuk-media-query($from: tablet) {
  .gem-c-search--large .gem-c-search__label {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 2.6315789474
  }
}

@media print {
  .gem-c-search--large .gem-c-search__label {
      font-size: 14pt;
      line-height: 50px
  }
}

.gem-c-search--large .gem-c-search__input[type="search"] {
  height: 50px
}

.gem-c-search--large .gem-c-search__submit {
  width: 50px;
  height: 50px
}

.gem-c-search--large .gem-c-search__submit .gem-c-search__icon {
  display: block;
  pointer-events: none;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 15px;
  left: 15px
}

.gem-c-search--separate-label .gem-c-search__label {
  position: relative;
  top: auto;
  left: auto;
  padding-left: 0
}

.contact {
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px
}

// PHES

.search-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.search-submit {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url(/defra-forms/app/assets/images/search-button.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  text-indent: -5000px;
  overflow: hidden;
}

@include govuk-device-pixel-ratio {
  .search-submit {
    background-size: 52.5px auto;
    background-position: 115% 50%;
  }
}
.search-submit:focus {
  z-index: 2;
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  box-shadow: inset 0 0 0 4px #0b0c0c;
}

.search-submit::-moz-focus-inner {
  border: 0;
}

.search-input-wrapper {
  display: table;
  width: 100%;
  background: #ffffff;
}

.search-input-submit-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.search-input-submit-wrapper {
  width: 1%;
}

.search-submit {
  background-color: #005ea5;
  color: #ffffff;
}

.search-submit:hover {
  background-color: #3699d3;
}

.search-wrapper input[type=search] {
  border-right-width: 0;
}

.search-wrapper-no-icon input[type=search] {
  border-right-width: 2px;
}

.search-wrapper input[type=search]:focus {
  border-right-width: 2px;
}

.search-wrapper input[type=search] {
  height: 50px;
}

.search-wrapper .search-submit {
  width: 50px;
  height: 50px;
  background-position: 8px 50%;
}

@include govuk-device-pixel-ratio {
  .search-wrapper .search-submit {
    background-size: 60px auto;
    background-position: 160% 50%;
  }
}

.defra-filter--action {
  position: relative;
}
.defra-filter--action:after {
  content: "";
  display: block;
  clear: both;
}
.defra-filter--action .govuk-button {
  margin-bottom: 0;
  padding: 16px 50px 10px 20px;
  /* width: 100%; */
  display: block;
  text-align: left;
  background-color: #f3f2f1;
  box-shadow: 0 2px 0 #929191;
  font-weight: 700;
  margin-bottom: 20px;
}
@include govuk-media-query($from: desktop) {
  .defra-filter--action .govuk-button {
    margin-bottom: 0;
  }
}
.defra-filter--action .defra-accordion__icon:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: #0b0c0c;
}
.defra-filter--action .defra-filter__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
}
.defra-filter--action .defra-filter__icon:before {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: #0b0c0c;
}
.defra-filter--action .defra-filter__icon:after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: #0b0c0c;
}
.defra-filter--action .defra-filter__icon:before {
  width: 100%;
}
.defra-filter--action .defra-filter__icon:after {
  height: 100%;
}
.defra-filter--action .defra-filter-button--active {
  background-color: #005ea5 !important;
  color: #fff !important;
  box-shadow: 0 2px 0 #091728;
}
.defra-filter--action .defra-filter-button--active .defra-filter__icon:before {
  background-color: #fff;
}
.defra-filter--action .defra-filter-button--active .defra-filter__icon:after {
  background-color: #fff;
}

.defra-filter--content {
  background-color: #f3f2f1;
  padding: 20px;
  margin-bottom: 20px;
}
@include govuk-media-query($from: desktop) {
  .defra-filter--content {
    margin-top: -10px;
  }
}
.defra-filter--content .govuk-grid-column--divider {
  border-right: 1px solid #b1b4b6;
}

.defra-filter--open .govuk-button {
  box-shadow: none !important;
  background-color: #dee0e2 !important;
  color: #0b0c0c !important;
  margin-bottom: 0;
}
@include govuk-media-query($from: desktop) {
  .defra-filter--open .govuk-button {
    padding-bottom: 30px;
    height: 70px;
  }
  .defra-filter--open .govuk-button .defra-filter__icon {
    top: 25px;
  }
}
.defra-filter--open .govuk-button .defra-filter__icon:before {
  background-color: #0b0c0c !important;
}
.defra-filter--open .govuk-button .defra-filter__icon:after {
  background-color: transparent !important;
}

// publishing components


.gem-c-button-publishing {
    margin-bottom: 0;
}

.gem-c-button-publishing--secondary-quiet {
    padding: 8px 10px;
    border-color: #505a5f;
    color: #505a5f;
    background-color: #fff;
    box-shadow: none;
}


.gem-c-button-publishing--secondary-quiet:before {
    content: none;
}

.gem-c-button-publishing--secondary-quiet:hover {
    border-color: #444d51;
    color: #444d51;
    background-color: #f3f2f1;
    text-decoration: none;
}

.gem-c-button-publishing--secondary:hover {
  border-color: #00692f;
  color: #00692f;
  background-color: #f3f2f1;
  text-decoration: none;
}


.gem-c-button-publishing--secondary:before {
  content: none;
}

.gem-c-button-publishing--secondary {
  padding: 8px 10px;
  border-color: #00823b;
  color: #00823b;
  background-color: #fff;
  box-shadow: none;
}

.gem-c-organisation-logo__container {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: #0b0c0c;
  height: auto;
  width: auto;
  direction: ltr;
}

.gem-c-organisation-logo__crest {
  border-left: 2px solid #0b0c0c;
  padding-top: 35px;
  padding-left: 8px;
}

.gem-c-organisation-logo__crest--single-identity {
  background: url(https://www.gov.uk/assets/collections/govuk_publishing_components/crests/org_crest_18px_x2-d759444376a83ad439650d64c8de4158658aa1b5034e5a6080e66ebaa9594b0d.png) no-repeat 8px 0;
  background-size: auto 32px;
}

@media all{
.brand__border-color  {
  border-color: #00a33b;
}
}

.gem-c-organisation-logo__name {
  font-family: HelveticaNeue,"Helvetica Neue",Arial,Helvetica,sans-serif;
}

// Styling for showing formatting examples

.formatting-example {
  @include govuk-responsive-padding(3, "top");
  @include govuk-responsive-padding(5, "right");
  @include govuk-responsive-padding(3, "bottom");
  @include govuk-responsive-padding(5, "left");
  margin: govuk-spacing(3) 0 govuk-spacing(4) 0;
  background: govuk-colour("light-grey");
  overflow-x: auto;
  white-space: pre-wrap;
}

code.lang-md {
  @include govuk-font(19);
}

// copied from xgov
.page  {
  position: absolute;
  width: 240px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  border-bottom: solid 2px #000;
  border-left: solid 2px #000;
}

.page:hover  {
  box-shadow: 0px 0px 0px 6px #ffbf47;
}

.page__heading  {
  padding: 10px !important;
}

.page__heading  {
  position: relative;
  min-height: 2.8em;
}

.page__actions  {
  display: flex;
  flex-direction: column;
}

.page__heading h3  {
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em){
.page__heading h3  {
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}

.page__heading h3  {
  margin-bottom: 20px;
}
}

.page__heading h3  {
  margin-bottom: 0;
}

.page-linkage__drag-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.page__actions > *  {
  padding-top: 5px !important;
}

.page__actions > *  {
  padding-bottom: 5px !important;
}

.page__actions > *  {
  padding-right: 10px !important;
}

.page__actions > *  {
  padding-left: 10px !important;
}

.page__actions > *  {
  width: 100%;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25;
  border: none;
  box-shadow: none;
  text-decoration: none;
  text-align: left;
  background-color: #0b0c0c;
  color: #ffffff;
}

@media (min-width: 40.0625em){
.page__actions > *  {
  font-size: 0.875rem;
  line-height: 1.4285714286;
}
}

.page__actions > :not(:last-child)  {
  border-bottom: 1px solid #ffffff;
}

.visualisation .page__actions > :hover {
  background-color: #ffbf47;
  color: #0b0c0c;
  cursor: pointer;
}

.govuk-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.govuk-visually-hidden:before {
  content: " ";
}

.govuk-visually-hidden:after {
  content: " ";
}

.visualisation .page__actions > :hover {
  background-color: #ffbf47;
  color: #0b0c0c;
  cursor: pointer;
}

.page__actions > :not(:last-child)  {
  border-bottom: 1px solid #ffffff;
}

@media (min-width: 40.0625em){
  .page__actions > *  {
    font-size: 0.875rem;
    line-height: 1.4285714286;
  }
}

@media (min-width: 40.0625em){
  .page__heading h3  {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }

  .page__heading h3  {
    margin-bottom: 20px;
  }
}

.page__heading h3  {
    margin-bottom: 0;
}

.page-linkage__drag-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.page__actions > *  {
    padding-top: 5px !important;
}

.page__actions > *  {
    padding-bottom: 5px !important;
}

.page__actions > *  {
    padding-right: 10px !important;
}

.page__actions > *  {
    padding-left: 10px !important;
}

.page  {
  position: absolute;
  width: 240px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  border-bottom: solid 2px #000;
  border-left: solid 2px #000;
}

.page:hover  {
  box-shadow: 0px 0px 0px 6px #ffbf47;
}

.page__heading  {
  padding: 10px !important;
}

.page__heading  {
  position: relative;
  min-height: 2.8em;
}

.page__actions  {
  display: flex;
  flex-direction: column;
}

/* ==========================================================================
   #MoJ SIDE NAVIGATION
   ========================================================================== */

   .moj-side-navigation {
    @include govuk-font(16);

    @include govuk-media-query($until: tablet) {
      display: flex;
      overflow-x: scroll;
    }

    @include govuk-media-query($from: tablet) {
      display: block;
      padding: govuk-spacing(4) 0 0;
    }

  }

  .moj-side-navigation__title {
    @include govuk-font($size: 19);
    color: govuk-colour("dark-grey");
    font-weight: normal;
    margin: 0;
    padding: govuk-spacing(2);
    padding-left: govuk-spacing(2) + 4px;

    @include govuk-media-query($until: tablet) {
      display: none;
    }

  }

  .moj-side-navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include govuk-media-query($until: tablet) {
      display: flex;
      margin: 0;
      white-space: nowrap;
    }

    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(4);
    }
  }

  .moj-side-navigation__item {

    @include govuk-media-query($until: tablet) {
      display: flex;
    }

    a,
    a:link,
    a:visited {
      background-color: inherit;
      color: $govuk-link-colour;
      display: block;
      text-decoration: none;

      @include govuk-media-query($until: tablet) {
        border-bottom: 4px solid transparent;
        padding: govuk-spacing(3);
        padding-bottom: govuk-spacing(3) - 4px; // Compensate for 4px border
      }

      @include govuk-media-query($from: tablet) {
        background-color: inherit;
        border-left: 4px solid transparent;
        padding: govuk-spacing(2);
      }


    }

    a:hover {
      color: $govuk-link-hover-colour;
    }

    a:focus {
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
      border-color: $govuk-focus-text-colour;
      position: relative;
    }

  }

  .moj-side-navigation__item--active {

    a:link,
    a:visited {
      border-color: $govuk-link-colour;
      color: $govuk-link-colour;
      font-weight: bold;
    }

    a:hover {
      color: $govuk-link-hover-colour;
      border-color: $govuk-link-hover-colour;
    }

    a:focus {
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
      border-color: $govuk-focus-text-colour;
    }

    @include govuk-media-query($from: tablet) {
      a:link,
      a:visited {
        background-color: govuk-colour("light-grey");
      }

      a:focus {
        color: $govuk-focus-text-colour;
        background-color: $govuk-focus-colour;
      }
    }


  }

  /* ==========================================================================
   #EXAMPLE
   ========================================================================== */

   .app-example {
    background-color: govuk-colour("white");
    border: 1px solid $govuk-border-colour;
    position: relative;
  }


  .app-example__frame {
    background-color: govuk-colour("white");
    border: 0;
    display: block;
    width: 100%;
  }

  .app-example-page {
    margin-bottom: -1px;
    padding: 30px;
    padding-top: 60px;
    position: relative;
  }

  .app-example__new-window {
    @include govuk-font($size: 14);
    border: 1px solid $govuk-border-colour;
    position: absolute; top: -1px; left: -1px;

    a,
    a:link,
    a:visited {
      background-color: white;
      color: govuk-colour("blue");
      display: block;
      padding: 5px 10px;
      text-decoration: none;
    }

    a:hover {
      color: govuk-colour("light-blue");
    }

    a:focus {
      // color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
      // box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
      // border-color: $govuk-focus-text-colour;
    }

  }

  /* ==========================================================================
   #MOJ SCROLLABLE PANE
   ========================================================================== */

  .moj-scrollable-pane {
    $scrollableBgColor: white;
    $scrollableTransparentColor: rgba(255, 255, 255, 0);
    $scrollableShadowColor: rgba(0, 0, 0, 0.2);
    $scrollableShadowSize: 0.75em;

    overflow-x: scroll;
    background: linear-gradient(
        to right,
        $scrollableBgColor,
        $scrollableBgColor,
        $scrollableTransparentColor calc(var($scrollableShadowSize) * 2)
      ),
      radial-gradient(
        farthest-side at 0 50%,
        $scrollableShadowColor,
        $scrollableTransparentColor
      ),
      linear-gradient(
        to left,
        $scrollableBgColor,
        $scrollableBgColor,
        $scrollableTransparentColor calc(var($scrollableShadowSize) * 2)
      ),
      radial-gradient(
          farthest-side at 100% 50%,
          $scrollableShadowColor,
          $scrollableTransparentColor
        )
        100%;
    background-color: $scrollableBgColor;
    background-repeat: no-repeat;
    background-attachment: local, scroll, local, scroll;
    background-size: 100% 100%, $scrollableShadowSize 100%, 100% 100%,
      $scrollableShadowSize 100%;
  }

  @include govuk-media-query($until: 1020px) {
    .moj-scrollable-pane .govuk-table__header,
    .moj-scrollable-pane .govuk-table__cell {
      white-space: nowrap;
    }
  }

        /* ==========================================================================
       #MASTHEAD
       ========================================================================== */


  .app-masthead {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #1d70b8;
    color: #fff;
    background-color: #1d70b8;

  }


@media (min-width: 40.0625em) {
  .app-masthead {
    padding-top: 30px;
  }

  .app-masthead {
    padding-bottom: 30px;
  }
}

@media all {
  .app-width-container {
    max-width: 1100px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .app-width-container {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
  }
}

@media (min-width: 40.0625em) {
  .app-width-container {
    margin-right: 30px;
    margin-left: 30px;
  }

  .app-width-container {
    margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
  }
}

@media (min-width: 1160px) {
  .app-width-container {
    margin-right: auto;
    margin-left: auto;
  }
}

@media all {
  .app-masthead__title {
    color: #fff;
    margin-bottom: 20px;
  }
}

@media (min-width: 40.0625em) {
  .app-masthead__title {
    margin-bottom: 30px;
  }
}

@media all {
  .app-masthead__description {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.1904761905;
    margin-bottom: 0;
    color: #fff;
  }
}

@media (min-width: 40.0625em) {
  .app-masthead__description {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}



.dwp-language-toggle {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

@media print {
  .dwp-language-toggle {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .dwp-language-toggle {
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .dwp-language-toggle {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.dwp-language-toggle::after {
  content: "";
  display: block;
  clear: both;
}

.dwp-language-toggle__list {
  margin-top: 1em;
  float: right;
  text-align: right;
}

.dwp-language-toggle__list-item {
  display: inline-block;
}

.dwp-language-toggle__list-item:first-child::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.1875em;
  height: 1em;
  border-right: 1px solid #0b0c0c;
}


.icon-file-download {
  width: 30px;
  height: 39px;
  background-image: url("/assets/images/icon-file-download.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 20 / 10),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .icon-file-download {
    background-image: url("/assets/images/icon-file-download.png");
    background-size: 100%;
  }
}

.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}