{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set formLibrary = require("data/form-library.json") %}

{% switch data["sort"] %}
  {% case "updated-oldest" %}
    {% set sortBy = "updated.date" %}
    {% set sortReverse = false %}
  {% case "status" %}
    {% set sortBy = "status" %}
    {% set sortReverse = false %}
  {% case "published-newest" %}
    {% set filterBy = "published" %}
    {% set sortBy = "published.date" %}
    {% set sortReverse = true %}
  {% case "published-oldest" %}
    {% set filterBy = "published" %}
    {% set sortBy = "published.date" %}
    {% set sortReverse = false %}
{% endswitch %}

{% set formItems = formLibrary.items | selectattr(filterBy) if filterBy else formLibrary.items %}
{% set formItems = formItems | sort(attribute="updated.date", reverse=true) %}

{% set pageCount = (formItems.length / 25) | round(0, "ceil") %}
{% set pageCurrent = data["page"] | abs if data["page"] and data["page"] | abs <= pageCount else 1 %}

{% set pageName = "Overview - Apply for a county parish holding number in England" %}

{% block header %}
  {{ serviceHeader({
    organisationName: "Defra",
    productName: "Forms Designer",
    serviceName: "",
    accountName: "Chris Smith",
    homepageLink: "/",
    signOutLink: "/form-designer-v2/onboarding/sign-out-confirmation",
    navigationItems: [{
      href: "/cph-overview/draft.html",
      text: "Overview",
      id: "overview"
     },{
         href: "/cph-overview/guidance-policies.html",
    text: 'Guidance and policies',
    id: 'policies'
    }],
    activeLinkId: "overview"
  }) }}
{% endblock %}



{% block beforeContent %}
{{ govukBackLink({
text: "Back to form library",
href: "/library.html"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <!-- <h1 class="govuk-heading-xl">Apply for a county parish holding number in England</h1> -->

    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h1 class="govuk-heading-l">
  Apply for a county parish holding number in England
</h1>


  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Status
      </dt>
      <dd class="govuk-summary-list__value">
        <strong class="govuk-tag govuk-tag--orange">
          Draft
        </strong>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Updated
      </dt>
      <dd class="govuk-summary-list__value">
        22 Mar 2024 by Chris Smith
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Created
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">11 Oct 2023 by Waylon Brady</p>
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Preview link
      </dt>
      <dd class="govuk-summary-list__value" style="padding-right:0!important;">
        <a href="https://preview.submit-a-form-to-defra.gov.uk/apply-for-a county-parish-holding-number" class="govuk-link"  rel="noreferrer noopener" target="_blank">https://preview.submit-a-form-to-defra.gov.uk/apply-for-a county-parish-holding-number</a>
      </dd>
      </dd>



    </div>
  </dl>



      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
      <h2 class="govuk-heading-m govuk-!-padding-top-4">Organisation details</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Completed forms sent to
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="/cph-overview/notification-email.html" class="govuk-link">Enter email address</a>

          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Form name
          </dt>
          <dd class="govuk-summary-list__value">
            Apply for a county parish holding number in England
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Lead organisation
          </dt>
          <dd class="govuk-summary-list__value">
            Center for Environment, Fisheries and Aquaculture Science - Cefas
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team name
          </dt>
          <dd class="govuk-summary-list__value">
            Policy directorate
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Shared email address
          </dt>
          <dd class="govuk-summary-list__value">
            SM-Defra-Not-Real@defra.gov.uk
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
      </dl>
      <!-- <div class="gem-c-organisation-logo__container gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color snipcss-CvocF">
        <span class="gem-c-organisation-logo__name">Department for Environment Food & Rural Affairs</span>
      </div> -->



</div>



  <div class="govuk-grid-column-one-third-from-desktop">

    <div style="background-color: #f3f2f1; padding: 15px;">
      <h2 class="govuk-heading-m">Manage form</h2>

      <a href="">
        <button class="gem-c-button govuk-button gem-c-button-publishing--secondary-quiet" style="width: 100%; margin-bottom: 15px;" type="submit">Edit draft</button>
        <!-- <button class="gem-c-button govuk-button gem-c-button-publishing--secondary snipcss0-3-3-4" style="width: 100%; margin-bottom: 15px;" type="submit">Edit draft</button> -->
      </a>

      <a href="/cph-overview/make-draft-live-no-email.html">
        <button type="submit" class="govuk-button" data-module="govuk-button" style="width: 100%; margin-bottom: 15px;">
            Make draft live
        </button>
    </a>



<!--
      <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" style="width: 100%;margin-bottom: 15px;">
        Close live form
      </button> -->
      <a href="#" class="govuk-link" style="color: 	#d4351c;">Delete draft</a>

  </div>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m">Internal notes</h2>




    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
        text: "Title of note"
      },
      id: "event-name",
      name: "eventName"
    }) }}

    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "moreDetail",
  id: "more-detail",
  label: {
    text: "Describe the change"
  }
}) }}

    {{ govukButton({
      text: "Save internal note ",
      href: "/cph-overview/new-note-success.html",
      classes: "govuk-button"
    }) }}

        </div>
  </div>
</div>


{% endblock %}
