{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <span class="govuk-caption-xl">
      Help users to
    </span>
    <h1 class="govuk-heading-xl">
      Report the location of something
    </h1>

    <p class="govuk-body-l">This pattern is made up of a combination of components and patterns</p>
    
  <h2 class="govuk-heading-m">
    Sub-patterns
  </h2>

    <ul class="govuk-list">
      <li>
        <a href="/alpha/features/report-the-location-pattern/select-a-location-on-a-map">
          Select a location on a map
      </a>
      </li>

      <li>
        <a href="/alpha/features/report-the-location-pattern/give coordinates">
          Give coordinates
      </a>
      </li>

    </ul>


    <p>

  </p>
<!-- 
    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->

    
  </div>
</div>

{% endblock %}
