{% extends "layouts/main.html" %}

{% block pageTitle %}
Sign in – {{ serviceName }}
{% endblock %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% block header %}
  {{ serviceHeader({
    serviceName: "Defra form builder",
    pageName: "",
    homepageLink: "/"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <p class="govuk-list govuk-error-summary__list">
            <p class="govuk-body govuk-!-font-weight-bold">We couldn't sign you in. Please contact the system administrator for help,
              <a href="mailto:aluckett@defra.gov.uk" class="govuk-link">steven.thomas@defra.gov.uk</a>.</p>
            </p>
        </div>
      </div>
    </div>

    <h1 class="govuk-heading-l">Sign in to Defra forms</h1>


    <form action="/form-designer-v2/admin-2" method="post" novalidate="novalidate">

      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Sign in
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>

      <!-- <form action="/form-designer/register/enter-email-address" method="post" novalidate="novalidate">
  <button value="create" name="optionSelected" class="govuk-button govuk-!-margin-right-3 govuk-button--secondary" data-module="govuk-button">
Request access
</button> -->

    </form>

  </div>
</div>
{% endblock %}