{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% block header %}
  {{ serviceHeader({
    serviceName: "Defra form builder",
    pageName: "Report a dead wild bird - v5",
    accountName: "Chris Smith",
    homepageLink: "/",
    signOutLink: "/form-designer-mvp2/onboarding/sign-out-confirmation",
    navigationItems: [{
      href: "#",
      text: "Form home",
      id: "form-home"
    }, {
      href: "#",
      text: "Form editor",
      id: "form-editor"
    }],
    activeLinkId: "form-home"
  }) }}
{% endblock %}

{% block pageTitle %}
Report a dead wild bird v5 – {{ serviceName }} – Defra form builder
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}



<div class="govuk-grid-row">



  <div class="govuk-grid-column-full">

    <div class="govuk-tag govuk-tag--orange" style="margin-bottom:10px;">
      Draft
    </div>
    <h1 class="govuk-heading-xl">Report a dead wild bird - v5</h1>
    <span class="govuk-caption-m"1>Created on 20 December 2023 by Steven Thomas</span>

    </h1>

  </div>

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card govuk-card--contained govuk-card--selectable">
        <a id="link-apply-for-a-phytosanitary-certificate" href="../account" aria-label="Manage service Apply for a Phytosanitary Certificate"></a>
        <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Apply for a Phytosanitary Certificate</h3>
        </div>
    </div>
  </div>
</div>

</form>



{% endblock %}