{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload files –
  {{ serviceName }}
  – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <div class="govuk-form-group govuk-!-margin-bottom-2">
        <h1 class="govuk-heading-l" for="file-upload-1">Upload proof of address</h1>

        <div id="file-upload-1-hint" class="govuk-hint">
          Upload 5 files in PDF, JPEG or Excel. You can upload original or scanned copies. The maximum file size for each file is 100MB.
        </div>

        <input type="file" style="display: none;" class="govuk-file-upload" data-module="govuk-file-upload" id="file-upload-1" name="file-upload-1">
        <label for="file-upload-1" class="govuk-button govuk-button--secondary" tabindex="0">
          Upload another proof of address
        </label>

        {# <input class="govuk-file-upload govuk-button govuk-button--secondary" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint"> #}
      </div>

      <form action="/form-handler" method="post" novalidate="novalidate">
        <div class="govuk-form-group">

          <!-- <div class="govuk-form-group"> <div class="govuk-form-group"> <h2 class="govuk-label-wrapper"> <label class="govuk-label govuk-label--m" for="file-upload-1"> Upload files </label> </h2> <p class="govuk-body" aria-live="polite">0MB of 100MB used</p> </div> </div> <div id="file-upload-1-hint" class="govuk-hint"> Upload 5 files in PDF, JPEG or Excel. You can upload original or scanned copies. The maximum file size for each file is 100MB. </div> <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"> Upload another proof of address </button> -->

          <h2 class="govuk-heading-m">Uploaded files</h2>
          <p class="govuk-body" aria-live="polite">2 of 2 files uploaded</p>

          <p class="govuk-body" id="refreshPageProgress">
            <a href="#" class="govuk-link">Refresh page to update file upload progress</a>
          </p>

          <div class="govuk-summary-list">
            <!-- First Row -->
            <div class="govuk-summary-list__row">
              <div class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold;">
                <a href="#" class="govuk-link">file_name-goes-here.file_name-goes-here-over-as-many-lines-as-needed.jpg</a>
              </div>
              <div class="govuk-summary-list__value govuk-!-width-one-third">
                10MB
              </div>
              <div class="govuk-summary-list__value govuk-!-width-one-third">
                <strong class="govuk-tag govuk-tag--green">
                  Uploaded
                </strong>
              </div>
              <div class="govuk-summary-list__actions">
                <a href="#" class="govuk-link govuk-!-width-one-quarter">Remove</a>
                <span class="govuk-visually-hidden">file_name-goes-here.file_name-goes-here-over-as-many-lines-as-needed.jpg</span>
              </div>
            </div>

            <!-- Second Row (Copied from First Row) -->
            <div class="govuk-summary-list__row">
              <div class="govuk-summary-list__key govuk-!-width-full govuk-!-font-weight-bold;">
                <a href="#" class="govuk-link">file_name-goes-here.file_name-goes-here-over-as-many-lines-as-needed.jpg</a>
              </div>
              <div class="govuk-summary-list__value govuk-!-width-one-third">
                10MB
              </div>
              <div class="govuk-summary-list__value govuk-!-width-one-third">
                <strong class="govuk-tag govuk-tag--green">
                  Uploaded
                </strong>
              </div>
              <div class="govuk-summary-list__actions">
                <a href="#" class="govuk-link govuk-!-width-one-quarter">Remove</a>
                <span class="govuk-visually-hidden">file_name-goes-here.file_name-goes-here-over-as-many-lines-as-needed.jpg</span>
              </div>
            </div>
          </div>

          {{ govukButton({
        text: "Continue"
      }) }}
        </form>
      </div>
    </div>
  {% endblock %}