<div class="additional-content">
  <div>
    <!-- Tag for Preview -->
    {{ govukTag({ text: "Preview of page 1", classes: "govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-top-8" }) }}

    <!-- Dynamic Heading -->
    <div id="heading-container">
      <span id="dynamic-caption" style="display: none;" class="govuk-caption-xl">{{ (data['setName'] or '') + ' 1' }}</span>
      <h1 class="govuk-heading-xl" id="dynamic-heading">{{ data['pageHeading'] or '' }}</h1>
    </div>

    <!-- Guidance Paragraph -->
    <p class="govuk-body" id="guidance-paragraph">{{ data['guidanceText'] or '' }}</p>

    <!-- Error Message (hidden by default) -->
    <div class="govuk-error-message" id="error-message-preview" style="display:none;">
      <span class="govuk-visually-hidden">Error:</span> <span id="error-dynamic-text"></span>
    </div>

    <!-- Question Fieldset -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="generic-question-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading" id="question-label-legend-q1">
            Question
          </h1>
        </legend>
        <div id="generic-question-hint" class="govuk-hint" style="display:none;"></div>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="yes-option" name="generic-question" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="yes-option">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="no-option" name="generic-question" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="no-option">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Buttons -->
    {{ govukButton({ text: "Continue", classes: "govuk-button govuk-!-margin-top-3", id: "once-button", disabled: true }) }}
    {{ govukButton({ text: "Add another [question set name]", classes: "govuk-button govuk-!-margin-top-3", id: "add-another-set-button", disabled: true, attributes: { style: "display:none;" } }) }}
  </div>
</div>
