
 <!-- New HTML content for before element -->
 <div id="before-content">
   <p class="govuk-body-s" style="margin-bottom: 0">
     <a
       href="#"
       class="govuk-link govuk-link--no-visited-state"
       rel="noreferrer noopener"
       target="_blank"
       >Preview this page in a new tab</a
     >
   </p>
 </div>

 <!-- Additional Content Here -->
 <div class="additional-content">

   <div>
     <!-- Tag for Preview -->
     {{ govukTag({ text: "Preview of page 2", classes: "govuk-tag--yellow
     govuk-!-margin-bottom-2 govuk-!-margin-top-8" }) }}
     <!-- Form for Preview -->
             <!-- Dynamic Heading -->



             <div id="heading-container">
              <span id="dynamic-caption" class="govuk-caption-xl">{{ (data['setName'] or '') + ' 1' }}</span>          <h1 class="govuk-heading-xl" id="dynamic-heading">{{ data['pageHeading'] or '' }}</h1>
            </div>

     <!-- Guidance Paragraph -->
    <p class="govuk-body" id="guidance-paragraph">{{ data['guidanceText'] or '' }}</p>




<div id="select-list">
  <label class="govuk-label govuk-label--l" for="dynamic-select" id="question-label-legend-q1">Question</label>
  <div id="listPreview-hint" class="govuk-hint"></div>

  <select class="govuk-select" id="dynamic-select">
    <!-- Dynamically generated option elements will be inserted here -->
  </select>
</div>


     </form>



     {{ govukButton({ text: "Continue", classes: "govuk-button
     govuk-!-margin-top-6", id: "once-button", disabled: true }) }} {{
     govukButton({ text: "Add another [question set name]", classes:
     "govuk-button govuk-!-margin-top-3", id: "add-another-set-button",
     disabled: true, attributes: { style: "display:none;" } }) }}
   </div>
 </div>
</div>
</div>