{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Where submitted forms are sent - Apply for a county parish holding number in England" %}

{% block header %}
  {{ serviceHeader({
    organisationName: "Defra",
    productName: "Forms Designer",
    serviceName: "",
    accountName: "Chris Smith",
    homepageLink: "/",
    signOutLink: "/form-designer-v2/onboarding/sign-out-confirmation",
    navigationItems: [
    {
      href: "/library.html",
      text: "Forms library",
      id: "library"
     },
    {
      href: "/cph-overview/draft.html",
      text: "Overview",
      id: "overview"
     },{
         href: "/editor.html",
    text: 'Editor',
    id: 'editor'
    }],
    activeLinkId: "/"
  }) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <h1 class="govuk-heading-xl">Apply for a county parish holding number in England</h1> -->

    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
<span class="govuk-caption-xl">Apply for a county-parish-holding-number</span>
<h1 class="govuk-heading-xl">Where should submitted forms be sent?</h1>
<p class="govuk-body">Enter an email address for submitted forms to be sent to for processing.</p>
<p class="govuk-body">It should be a shared government email inbox and you should test it before making a form live. The email address must end with ‘gov.uk’.</p>

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Email address",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  id: "notification-email",
  name: "notificationEmail"
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  <a href="/cph-overview/one-thing/draft+notification.html">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
</a>
<a href="javascript:window.history.back()">
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" >
    Cancel
  </button>
</a>
</div>
</div>
</div>

{% endblock %}
