{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Enter a Defra linked email address</h1>
    <p class="govuk-body">You can only use this service if you have an email address that ends in:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>defra.gov.uk</li>
      <li>apha@gov.uk</li>
      <li>cefas.co.uk</li>
      <li>vmd.gov.uk</li>
      <li>hmcts.net</li>
      <li>environment-agency.gov.uk</li>
      <li>naturalengland.org.uk</li>
      <li>food.gov.uk</li>
      <li>marinemanagement.org.uk</li>
      <li>forestrycommission.gov.uk</li>
    </ul>

    <form action="/form-designer/register/enter-email-code" method="post" novalidate="novalidate">

      <div class="govuk-form-group">
        <label class="govuk-label" style="font-weight:bold;" for="emailAddress">
          Enter a Defra linked email address
        </label>

        <input class="govuk-input govuk-!-width-three-quarters" id="emailAddress" name="emailAddress" type="email"
          spellcheck="false" autocomplete="email">

        <div data-lastpass-icon-root="true"
          style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
        </div>
      </div>


      <h2 class="govuk-heading-m">Read our privacy notice</h2>
      <p class="govuk-body govuk-!-margin-bottom-6">By continuing, you confirm that you agree to our
        <a class="govuk-link" href="#">privacy notice</a>.
        It sets out how we use your personal information.
      </p>


      <div class="govuk-button-group">


        <button class="govuk-button" data-module="govuk-button" id="submit">
          Continue
        </button>



      </div>
    </form>





  </div>
</div>

{% endblock %}