{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Create a Defra forms login or sign in</h1>
<p class="govuk-body">You'll need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>requirement 1</li>
  <li>requirement 2</li>
</ul>

<form action="/form-designer/register/enter-email-address" method="post" novalidate="novalidate">
  <button value="create" name="optionSelected" class="govuk-button govuk-!-margin-right-3" data-module="govuk-button">
Create a Defra forms Login
</button>

<button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="sign-in-button">
Sign in
</button>

</form>

  </div>
</div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About Defra forms
    </span>
  </summary>
  <div class="govuk-details__text">
    
<p class="govuk-body">Intro text.</p>
  </div>
</details>

{% endblock %}
