{% extends "layouts/main.html" %}

{% block pageTitle %}
    There is a problem with the service – Name of service –
{% endblock %}

{% block pageHeader %}
    {% from "govuk/components/header/macro.njk" import govukHeader %}

    {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Service name",
    serviceUrl: "/service-name"
  }) }}
{% endblock %}

{% block content %}

    {% set mainClasses = "govuk-main-wrapper--l" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
            <p class="govuk-body">Try again later.</p>
            <p class="govuk-body">
                We have not saved your answers. When the service is available, you will have to start again.
            </p>
            <p class="govuk-body">
                <a class="govuk-link" href="https://www.gov.uk/guidance/contact-defra">Contact the Defra Helpline</a>
                if you have any questions.
            </p>
        </div>
    </div>
{% endblock %}