{% extends "layouts/main.html" %}

{% block pageTitle %}
Upload files –
{{ serviceName }}
– GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

    <div class="govuk-form-group govuk-!-margin-bottom-2">
      <h1 class="govuk-heading-l" for="file-upload-1">Upload your methodology statement</h1>

      <form action="/file-upload/yes-js/page4" method="get">
        {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        classes: 'govuk-file-upload',
        label: {
        text: "",
        classes: ''
        },
        hint: {
        text: "Upload 2 copies of your methodology statement in Word, PDF or JPEG. The maximum file size for each file
        is 100MB"
        }
        }) }}

        {{ govukButton({
        text: 'Upload file',
        classes: 'govuk-button--secondary govuk-!-margin-top-4',
        attributes: {
        'data-module': 'govuk-button'
        }
        }) }}
      </form>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/form-handler" method="post" novalidate="novalidate">
      <div class="govuk-form-group">

        <h2 class="govuk-heading-m">Uploaded files</h2>
        <p class="govuk-body" aria-live="polite">1 of 1 files uploaded</p>





        <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col" id="select-all"></th>
              <th class="govuk-table__header" scope="col">File</th>
              <th class="govuk-table__header" scope="col">Status</th>

            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row govuk-table__row--selected">
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                  <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                    <span class="govuk-visually-hidden">Select Aconcagua</span>
                  </label>
                </div>
              </td>
              <td class="govuk-table__cell" style="font-weight:800;">
                file_name-goes-here.file_name-goes-here-over-as-many-lines-as-needed.jpg
              </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Uploaded</strong></td>
            </tr>

          </tbody>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row govuk-table__row--selected">
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                  <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                    <span class="govuk-visually-hidden">Select Aconcagua</span>
                  </label>
                </div>
              </td>
              <td class="govuk-table__cell" style="font-weight:800;">file_name-goes-here.file_nes-as-needed.jpg
              </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Uploaded</strong></td>
            </tr>

          </tbody>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row govuk-table__row--selected">
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                  <label class="govuk-label govuk-checkboxes__label" for="mountain-ff">
                    <span class="govuk-visually-hidden">Select Aconcagua</span>
                  </label>
                </div>
              </td>
              <td class="govuk-table__cell" style="font-weight:800;">file_name-goes-here.file_nes-as-needed.jpg
              </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Uploaded</strong></td>
            </tr>

          </tbody>


        </table>






        <p class="govuk-body govuk-!-display-none" id="refreshPageProgress">
          <a href="#" class="govuk-link">Refresh page to update file upload progress</a>
        </p>

        <dl class="govuk-summary-list govuk-summary-list--long-key">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="#"
                class="govuk-link">file_name-goes-here.file_name-goes-here-over-as-many-lines-as-needed.jpg</a>
            </dt>
            <dd class="govuk-summary-list__value">10MB</dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--green">Uploaded</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#" class="govuk-link govuk-!-width-one-quarter">Remove</a>
              <span
                class="govuk-visually-hidden">file_name-goes-here.file_name-goes-here-over-as-many-lines-as-needed.jpg</span>
            </dd>
          </div>
        </dl>

        {{ govukButton({
        text: "Continue"
        }) }}
    </form>

  </div>
</div>

{% endblock %}