<style>
  .border-left-container {
    border-left: 10px solid #ffb266;
    padding-left: 20px;
  }
</style>
<div class="border-left-container">

  <div class="govuk-form-group">
    <h2>
      <label class="govuk-label govuk-label--l" for="text-input-field" id="multi-question-label-legend-email">Question
      </label>

      <div id="multi-question-hint-text-output-email" class="govuk-hint">

      </div>
      <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint"
        autocomplete="email">
  </div>

  {#
  <details class="govuk-details" id="error-message-preview-summary">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Error messages for this question</span>
    </summary>
    <div class="govuk-details__text">
      <!-- Error Messages Section -->
      <div class="govuk-error-summary" data-disable-auto-focus="true">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <ul class="govuk-list govuk-error-summary__list">
          <!-- Empty input error -->
          <li>

            <a id="empty-input-error-textarea" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              Enter <span id="error-dynamic-text">[short description]</span>
            </a>
          </li>

          <a id="empty-input-error-textarea" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            <span id="error-dynamic-text">[Short description]</span> must be in the correct format
          </a>
          </li>
        </ul>
      </div>
    </div>
  </details> #}
</div>
{% if data['setName'] %}
{{ govukButton({
text: "Add another " + (data['setName'] | lower),
classes: "govuk-button govuk-!-margin-top-3",
id: "add-another-set-button",
disabled: true
}) }}
{% else %}
{# {{ govukButton({
text: "Continue",
classes: "govuk-button govuk-!-margin-top-3",
id: "add-another-set-button",
disabled: true
}) }} #}
{% endif %}


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const dynamicCaption = document.getElementById("dynamic-caption");
    const setName = dynamicCaption.getAttribute("data-setname");

    if (!setName) {
      dynamicCaption.style.display = "none";
    }
  });

</script>