<!-- New HTML content for before element -->
<div id="before-content">
  <p class="govuk-body-s" style="margin-bottom: 0">
    <a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Preview this
      page in a new tab</a>
  </p>
</div>

<!-- Additional Content Here -->
<div class="additional-content">

  <div>
    <!-- Tag for Preview -->
    {{ govukTag({ text: "Preview of page 4", classes: "govuk-tag--yellow
    govuk-!-margin-bottom-2 govuk-!-margin-top-8" }) }}
    <!-- Form for Preview -->
    <!-- Dynamic Heading -->



    <div id="heading-container">
      {% set setName = data['setName'] or '' %}
      <span id="dynamic-caption" class="govuk-caption-xl" data-setname="{{ setName }}">{{ data['setName'] or '' }}
        1</span>

      <h1 class="govuk-heading-xl" id="dynamic-heading">{{ data['pageHeadingInputAutocomplete'] or '' }}</h1>
    </div>

    <!-- Guidance Paragraph -->
    <p class="govuk-body" id="guidance-paragraph">{{ data['guidanceTextareaRadios'] or '' }}</p>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading" id="question-label-legend-q1">
            {{ data.questionLabelInputAutocomplete or 'Question' }}
          </h1>
        </legend>
        {% if data.hintTextInputAutocomplete %}
        <div id="listPreview-hint" class="govuk-hint">
          {{ data.hintTextInputAutocomplete }}
        </div>
        {% endif %}

        <script src="https://unpkg.com/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.js"></script>

        <!-- autocomplete preview -->

        <div class="govuk-form-group">
          <label id="autocomplete-label" class="govuk-label" for="autocomplete-input">
            Start typing to select an option
          </label>
          <div id="autocomplete-container"></div>
        </div>

        <!-- autocomplete preview -->

       <script>
       // Initialise or reinitialise the autocomplete
       function initialiseAutocomplete(options) {
         // Clear the container before reinitializing
         const container = document.querySelector("#autocomplete-container");
         container.innerHTML = "";

         // Dummy options list
         const dummyOptions = [
         'France',
         'Germany',
         'United Kingdom'
         ];

         // Initialise the accessible autocomplete with the given options
         accessibleAutocomplete({
         element: container,
         id: "autocomplete-input", // To match it to the label
         source: dummyOptions
         });
       }

       // Ensure that the function runs after the content is loaded
       document.addEventListener("DOMContentLoaded", function() {
         initialiseAutocomplete();
       });
       </script>

      </fieldset>
    </div>


{#

    <div id="radio-list">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading" id="question-label-legend-q1">
            {{ data['questionLabelInputRadios'] or '' }}
          </h1>

        </legend>
        <div id="hint-text-output" class="govuk-hint">
          {{ data['hintTextInputRadios'] or '' }}

        </div>


        <!-- Display the options -->
{% for option in data.options %}
<div>
  <input  type="radio" name="radios" id="option-{{ loop.index }}" value="{{ option.label }}">
  <label class="govuk-label govuk-radios__label"  for="option-{{ loop.index }}">{{ option.label }}</label>
</div>
{% endfor %}

        <!-- Custom checkboxes without govuk-form-group -->
        {% for option in data['option'] %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="listPreview-option{{ loop.index0 }}" name="listPreview" type="radio"
            value="{{ option['option_label'] }}" {% if option['default'] %} checked {% endif %}>
          <label class="govuk-label govuk-radios__label" for="listPreview-option{{ loop.index0 }}">
            {{ option['option_label'] or '' }}
          </label>

        </div>
        {% endfor %}


        <!-- Dynamically generated checkbox items will be inserted here -->
    </div>
    </fieldset>
    </fieldset>
  </div>

  </form> #}



  {% set setName = data['setName'] or '' %}
  {% set overview0 = data['overview0'] or '' %}

  {% if overview0 == "morethan1" %}
  {{ govukButton({
  text: "Add another " ~ setName,
  classes: "govuk-button govuk-!-margin-top-3",
  id: "add-another-set-button",
  disabled: true
  }) }}
  {% else %}
  {# {{ govukButton({
  text: "Continue",
  classes: "govuk-button govuk-!-margin-top-6",
  id: "once-button",
  disabled: true
  }) }} #}
  {% endif %}
</div>
</div>
</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const dynamicCaption = document.getElementById("dynamic-caption");
    const setName = dynamicCaption.getAttribute("data-setname");

    if (!setName) {
      dynamicCaption.style.display = "none";
    }
  });

</script>