{% extends "layouts/main.html" %}

{% block pageTitle %}
Components – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Kit of parts - Defra Forms Designer" %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Forms Designer",
serviceName: "Design system",
containerClasses: containerClasses,
homepageLink: "/design-system/home.html",
signOutLink: "/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/design-system/components.html", text: "Components", id: "components" },
{ href: "/design-system/user-journeys/home.html", text: "User journeys", id: "user-journeys" } ],
activeLinkId: "components"
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <h1 class="x-govuk-masthead__title">
          Component parts for the form editor
        </h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% from "side-navigation/macro.njk" import dwpSideNavigation %}

      <h2 class="govuk-heading-m">Question editor</h2>
      {{
      dwpSideNavigation({
      pageId: "side-navigation-question-editor",
      selectedItem: "",
      items: [
      { text: "Configuration panels", href: "/design-system/editor/configuration-panel.html", id: "sn-config-panels" },
      { text: "Guided input", href: "/design-system/editor/guided-input.html", id: "sn-guided-input" },
      { text: "Preview panels", href: "/design-system/editor/preview-panel.html", id: "sn-preview-panels" },
      { text: "Previews in a new tab", href: "/design-system/editor/previews-in-new-tab.html", id: "sn-previews-new-tab"
      },
      { text: "Question borders", href: "/design-system/editor/border.html", id: "sn-question-borders" }
      ]
      })
      }}

      <h2 class="govuk-heading-m">Information types</h2>
      {{
      dwpSideNavigation({
      pageId: "side-navigation-information-types",
      selectedItem: "",
      items: [
      { text: "Answer limits", href: "/design-system/information-type/answer-limits.html", id: "sn-answer-limits" },
      { text: "Configuration for each type", href: "/design-system/information-type/configuration-types.html", id:
      "sn-configuration-types" }
      ]
      })
      }}

      <h2 class="govuk-heading-m">Re-ordering</h2>
      {{
      dwpSideNavigation({
      pageId: "side-navigation-reordering",
      selectedItem: "",
      items: [
      { text: "Lists", href: "/design-system/reordering/lists.html", id: "sn-lists" },
      { text: "Pages", href: "/design-system/reordering/pages.html", id: "sn-pages" },
      { text: "Questions", href: "/design-system/reordering/questions.html", id: "sn-questions" }
      ]
      })
      }}

      <h2 class="govuk-heading-m">Deletion</h2>
      {{
      dwpSideNavigation({
      pageId: "side-navigation-deletion",
      selectedItem: "",
      items: [
      { text: "Pages", href: "/design-system/deletion/pages.html", id: "sn-deletion-pages" }
      ]
      })
      }}

      <h2 class="govuk-heading-m">Header</h2>
      {{
      dwpSideNavigation({
      pageId: "side-navigation-header",
      selectedItem: "",
      items: [
      { text: "Mastheads", href: "/design-system/header/masthead.html", id: "sn-mastheads" }
      ]
      })
      }}
    </div>

    <!-- Masthead (two-thirds) -->
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Components</h1>
      <p class="govuk-body"></p>


    </div>
  </div>
</div>
</div>
</div>





<style>
  .moj-side-navigation__toggle {
    background: none;
    border: none;
    color: #005ea5;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
  }

  .moj-side-navigation__toggle:hover {
    text-decoration: underline;
  }
</style>


{% endblock %}