{% extends "layouts/main.html" %}

{% block pageTitle %}
Components – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Kit of parts - Defra Forms Designer" %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Forms Designer",
serviceName: "Design system",
containerClasses: containerClasses,
homepageLink: "/design-system/home.html",
signOutLink: "/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/design-system/components.html", text: "Components", id: "components" },
{ href: "/design-system/user-journeys/home.html", text: "User journeys", id: "user-journeys" } ],
activeLinkId: "components"
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <h1 class="x-govuk-masthead__title">
          Component parts for the form editor
        </h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {{ mojSideNavigation({
      label: 'Side navigation',
      sections: [
      {
      heading: { text: 'Question editor' },
      items: [
      { text: 'Configuration panels', href: '/design-system/editor/configuration-panel.html', active: false }
      ]
      }
      ]
      }) }}
    </div>

    <!-- Masthead (two-thirds) -->
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Components</h1>
      <p class="govuk-body"></p>


    </div>
  </div>
</div>
</div>
</div>





<style>
  .moj-side-navigation__toggle {
    background: none;
    border: none;
    color: #005ea5;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
  }

  .moj-side-navigation__toggle:hover {
    text-decoration: underline;
  }
</style>


{% endblock %}