{% extends "layouts/main.html" %}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <!-- ============================================= -->
        <!-- Side Navigation Section -->
        <!-- ============================================= -->
        <div class="govuk-grid-column-one-quarter">

            {% from "side-navigation/macro.njk" import dwpSideNavigation %}

            {{
            dwpSideNavigation({
            pageId: "side-navigation-simple",
            selectedItem: "/simple",
            items: [
            { text: "Simple Item 1", href: "/simple", id: "simple-1" },
            { text: "Simple Item 2", href: "/simple-2", id: "simple-2" }
            ]
            })
            }}



            <!-- ============================================= -->
            <!-- Styles Section -->
            <!-- ============================================= -->
            <style>
                .border-left-container-yesno {
                    border-left: 10px solid #ffb266;
                    padding-left: 20px;
                }
            </style>

            {% endblock %}