{% extends "layouts/main.html" %}

{% block pageTitle %}
Previews in new tab – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Kit of parts - Defra Forms Designer" %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Forms Designer",
serviceName: "Design system",
containerClasses: containerClasses,
homepageLink: "/design-system/components.html",
signOutLink: "/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/design-system/components.html", text: "Components", id: "components" },
{ href: "/design-system/user-journeys/home.html", text: "User journeys", id: "user-journeys" } ],
activeLinkId: "components"
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
    <div class="govuk-width-container">

        {# {{ govukBackLink({
        classes: "govuk-back-link--inverse govuk-!-margin-bottom-0",
        text: "Back to add and edit pages",
        href: "/redesigntest/listing.html"
        }) }} #}

        {#
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
            style="border-bottom: 1px solid white; margin-bottom: 0;" /> #}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-from-desktop">
                <h1 class="x-govuk-masthead__title">
                    Component parts for the form editor
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <!-- ============================================= -->
        <!-- Side Navigation Section -->
        <!-- ============================================= -->
        <div class="govuk-grid-column-one-quarter">

            {% from "side-navigation/macro.njk" import dwpSideNavigation %}

            {{
            dwpSideNavigation({
            pageId: "side-navigation-simple",
            selectedItem: "/simple",
            items: [
            { text: "Simple Item 1", href: "/simple", id: "simple-1" },
            { text: "Simple Item 2", href: "/simple-2", id: "simple-2" }
            ]
            })
            }}



            <!-- ============================================= -->
            <!-- Styles Section -->
            <!-- ============================================= -->
            <style>
                .border-left-container-yesno {
                    border-left: 10px solid #ffb266;
                    padding-left: 20px;
                }
            </style>

            {% endblock %}