{% extends "layouts/main.html" %}
{% from "components/service-header/macro.njk" import serviceHeader %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Forms Designer",
serviceName: "Kit of parts",
containerClasses: containerClasses,
homepageLink: "/design-system/components.html",
signOutLink: "/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/design-system/prototype-route.html", text: "Prototype", id: "prototype" },
{ href: "/design-system/components.html", text: "Components", id: "components" },
{ href: "/design-system/user-journeys/home.html", text: "User journeys", id: "user-journeys" }
],
activeLinkId: "components"
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
    <div class="govuk-width-container">

        {# {{ govukBackLink({
        classes: "govuk-back-link--inverse govuk-!-margin-bottom-0",
        text: "Back to add and edit pages",
        href: "/redesigntest/listing.html"
        }) }} #}

        {#
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
            style="border-bottom: 1px solid white; margin-bottom: 0;" /> #}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-from-desktop">
                <h1 class="x-govuk-masthead__title">
                    Component parts for the form editor
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <!-- ============================================= -->
        <!-- Side Navigation Section -->
        <!-- ============================================= -->
        <div class="govuk-grid-column-one-quarter">

            {% from "side-navigation/macro.njk" import dwpSideNavigation %}
            <nav>
                <h2 class="govuk-caption-m govuk-!-font-weight-bold">Question editor</h2>
                {{
                dwpSideNavigation({
                pageId: "side-navigation-question-editor",
                selectedItem: "/design-system/editor/previews-in-new-tab.html",
                items: [
                { text: "Configuration panels", href: "/design-system/editor/configuration-panel.html", id:
                "sn-config-panels" },
                { text: "Guided input", href: "/design-system/editor/guided-input.html", id: "sn-guided-input" },
                { text: "Preview panels", href: "/design-system/editor/preview-panel.html", id: "sn-preview-panels" },
                { text: "Previews in a new tab", href: "/design-system/editor/previews-in-new-tab.html", id:
                "sn-previews-new-tab"
                },
                { text: "Question borders", href: "/design-system/editor/border.html", id: "sn-question-borders" }
                ]
                })
                }}

                <h2 class="govuk-caption-m govuk-!-font-weight-bold">Information types</h2>
                {{
                dwpSideNavigation({
                pageId: "side-navigation-information-types",
                items: [
                { text: "Answer limits", href: "/design-system/information-type/answer-limits.html", id:
                "sn-answer-limits" },
                { text: "Configuration for each type", href: "/design-system/information-type/configuration-types.html",
                id:
                "sn-configuration-types" }
                ]
                })
                }}

                <h2 class="govuk-caption-m govuk-!-font-weight-bold">Re-ordering</h2>
                {{
                dwpSideNavigation({
                pageId: "side-navigation-reordering",
                items: [
                { text: "Lists", href: "/design-system/reordering/lists.html", id: "sn-lists" },
                { text: "Pages", href: "/design-system/reordering/pages.html", id: "sn-pages" },
                { text: "Questions", href: "/design-system/reordering/questions.html", id: "sn-questions" }
                ]
                })
                }}

                <h2 class="govuk-caption-m govuk-!-font-weight-bold">Deletion</h2>
                {{
                dwpSideNavigation({
                pageId: "side-navigation-deletion",
                items: [
                { text: "Pages", href: "/design-system/deletion/pages.html", id: "sn-deletion-pages" }
                ]
                })
                }}

                <h2 class="govuk-caption-m govuk-!-font-weight-bold">Header</h2>
                {{
                dwpSideNavigation({
                pageId: "side-navigation-header",
                items: [
                { text: "Mastheads", href: "/design-system/header/masthead.html", id: "sn-mastheads" }
                ]
                })
                }}
            </nav>
        </div>



        <!-- ============================================= -->
        <!-- Styles Section -->
        <!-- ============================================= -->
        <style>
            .border-left-container-yesno {
                border-left: 10px solid #ffb266;
                padding-left: 20px;
            }
        </style>

        {% endblock %}