{#
<!-- New HTML content for before element -->
<div id="before-content">
  <p class="govuk-body-s" style="margin-bottom: 0">
    <a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Preview this
      page in a new tab</a>
  </p>
</div> #}

<!-- Additional Content Here -->
<div class="additional-content">

  <!-- Form for Preview -->
  <!-- Dynamic Heading -->
  <div id="heading-container">
    {% if data['setName'] %}
    <span id="dynamic-caption" class="govuk-caption-xl" data-setname="{{ data['setName'] | capitalize }}">
      {{ data['setName'] | capitalize }} 1
    </span>
    {% endif %}

    <h1 class="govuk-heading-xl" id="dynamic-heading">{{ data['pageHeadingInputMoreThan1'] or '' }}</h1>
  </div>

  <!-- Guidance Paragraph -->
  <p class="govuk-body" id="guidance-paragraph">{{ data['guidanceMoreThan1'] or '' }}</p>

  <!-- Border Left Container for Short Text -->
  <div class="border-left-container-shorttext">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="text-input-field" id="question-label-legend">
          Question
        </label>
      </h1>
      <div id="hint-text-output" class="govuk-hint"></div>

      <input class="govuk-input" id="text-input-field" name="textInputField" type="text"
        aria-describedby="hint-text-output">
    </div>
  </div>

  <!-- Conditional Button Based on 'setName' -->
  <div>
    {% if data['setName'] %}
    {{ govukButton({
    text: "Add another " + (data['setName'] | lower),
    classes: "govuk-button govuk-!-margin-top-3",
    id: "add-another-set-button",
    disabled: true
    }) }}
    {% else %}
    {# {{ govukButton({
    text: "Continue",
    classes: "govuk-button govuk-!-margin-top-3",
    id: "add-another-set-button",
    disabled: true
    }) }} #}
    {% endif %}
  </div>

</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const dynamicCaption = document.getElementById("dynamic-caption");
    const setName = dynamicCaption.getAttribute("data-setname");

    if (!setName) {
      dynamicCaption.style.display = "none";
    }
  });

  // Select the input field and the details element
  const inputField = document.getElementById("error-message-input-shorttext");
  const errorMessagePreview = document.getElementById("error-message-preview-summary");

  // Add event listener for focus and blur on the input field
  inputField.addEventListener("focus", () => {
    // Set the open attribute on details to expand it
    errorMessagePreview.setAttribute("open", "true");
  });

  inputField.addEventListener("blur", () => {
    // Remove the open attribute on details to collapse it
    errorMessagePreview.removeAttribute("open");
  });


</script>


<style>
  .border-left-container-shorttext {
    border-left: 10px solid #ffb266;
    padding-left: 20px;
  }
</style>


{#
</div> #}

{# <details class="govuk-details" id="error-message-preview-summary">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Error messages for this question</span>
  </summary>
  <div class="govuk-details__text">
    <!-- Error Messages Section -->
    <div class="govuk-error-summary" data-disable-auto-focus="true">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <ul class="govuk-list govuk-error-summary__list">
        <!-- Empty input error -->
        <li>

          <a id="empty-input-error-shorttext" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            Enter <span id="error-dynamic-text">[Short description]</span>
          </a>
        </li>

        <h3 class="govuk-heading-s">If you set answer limits:</h3>

        <!-- Too long input error -->
        <li>
          <a id="too-long-input-error-shorttext" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            <span id="error-dynamic-text-long">[Short description]</span> must be
            <span id="max-length">[max length]</span> characters or less
          </a>
        </li>
        <!-- Too short input error -->
        <li>
          <a id="too-short-input-error-shorttext" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            <span id="error-dynamic-text-short">[Short description]</span> must be
            <span id="min-length">[min length]</span> characters or more
          </a>
        </li>
        <!-- Input within range error -->
        <li>
          <a id="range-input-error-shorttext" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            <span id="error-dynamic-text-range">[Short description]</span> must be between
            <span id="min-length-range">[min length]</span> and
            <span id="max-length-range">[max length]</span> characters
          </a>
        </li>
      </ul>
    </div>
  </div>
</details> #}