{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Create new form" %}

{% block header %}
  {{ serviceHeader({
    serviceName: "Defra form builder",
    pageName: "Create new form",
    accountName: "Chris Smith",
    homepageLink: "/",
    signOutLink: "/form-designer-v2/onboarding/sign-out-confirmation",
    navigationItems: [{
      href: "/",
      text: "Form library",
      id: "form-library"
    }]
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

<!-- <main class="govuk-main-wrapper" id="main-content" role="main"> -->
  <form class="form"
  action="https://designer.forms.cyb.dev/app/designer/user-research-test"
  method="post">

  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "Enter name of team",
        href: "#team-name"
      },
      {
        text: "Enter a shared email address",
        href: "#email"
      }
    ]
  }) }}
  <form class="form"
  action="https://designer.forms.cyb.dev/app/designer/user-research-test"
  method="post">

  {% from "govuk/components/input/macro.njk" import govukInput %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Team details</h1>

      {{ govukInput({
        label: {
          text: "Name of team"
        },
        hint: {
          text: "Enter the name of the policy team or business area responsible for this form"
        },
        id: "team-name",
        name: "teamName",
        errorMessage: {
          text: "Enter name of team"
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Shared team email address"
        },

        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        errorMessage: {
          text: "Enter a shared email address"
        }
      }) }}

      {{ govukButton({
      text: "Save and continue"
      }) }}
</form>

{% endblock %}