{% extends "layouts/main.html" %}

{% block pageTitle %}
Signed out – {{ serviceName }}
{% endblock %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% block header %}
  {{ serviceHeader({
    serviceName: "Defra form builder",
    pageName: "",
    homepageLink: "/"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You have signed out</h1>
    <p class="govuk-body-l">Sign in to Defra forms to access and create forms.</p>
    <!-- <p class="govuk-body">Sign in to Defra forms to access and create forms</p> -->

    <form action="/form-designer-mvp2/onboarding/sign-in" method="post" novalidate="novalidate">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <!-- <form action="/form-designer/register/enter-email-address" method="post" novalidate="novalidate">
  <button value="create" name="optionSelected" class="govuk-button govuk-!-margin-right-3 govuk-button--secondary" data-module="govuk-button">
Request access
</button> -->

    </form>

  </div>
</div>
{% endblock %}