{% extends "layouts/main.html" %}
{% from "components/service-header/macro.njk" import serviceHeader %}
{% set pageName = "Edit email question - Apply for a county parish holding number in England" %}
{% set headingPlaceholder = "Page heading" %}
{% set guidancePlaceholder = "" %}

{% block header %}
{{ serviceHeader({
organisationName: "Defra",
productName: "Forms Designer",
serviceName: "",
containerClasses: containerClasses,
accountName: "Chris Smith",
homepageLink: "/",
signOutLink: "/onboarding/sign-out-confirmation",
navigationItems: [
{ href: "/library.html", text: "Forms library", id: "nav-library" },
{ href: "/cph-overview/draft/complete-clean.html", text: "Overview", id: "nav-overview" },
{ href: "/redesigntest/listing", text: "Editor", id: "nav-editor" } ],
activeLinkId: "nav-editor"
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large">
  <div class="govuk-width-container">
    {{ govukBackLink({ classes: "govuk-back-link--inverse govuk-!-margin-bottom-0", text: "Back to add
    and edit pages", href: "/redesigntest/listing.html" }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
      style="border-bottom: 1px solid white; margin-bottom: 0" />

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <h1 class="x-govuk-masthead__title">
          {# <span class="govuk-caption-l" style="color: white">
            Apply for a county parish holding certificate
          </span> #}
          Apply for a county parish holding (CPH) number
        </h1>


      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <!-- Left Column for Form Controls -->
      <div class="govuk-grid-column-one-half-from-desktop" id="container" style="flex: 1 1 75%; overflow-y: auto">
        <div class="govuk-summary-card govuk-!-margin-top-0" style="border-left: 10px solid #008938">
          <div class="govuk-summary-card__content govuk-!-padding-top-0" style="background-color: #f3f2f1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  <!-- Dynamic Summary List -->
                  <!-- Question Settings Container -->
                  <div class="govuk-grid-row" id="page-settings-container-1">
                    <div id="question-1">
                      <div class="govuk-summary-card__content" style="margin-bottom: 0">
                        <!-- Sub Navigation for Question -->
                        <nav class="moj-sub-navigation govuk-!-padding-top-0 govuk-!-margin-bottom-2 "
                          aria-label="Sub navigation">
                          <ul class="moj-sub-navigation__list" id="nav-list2">
                            <!-- Question Link -->
                            <li class="moj-sub-navigation__item">
                              <a class="moj-sub-navigation__link" href="#question-1">Page settings</a>
                            </li>
                            <li class="moj-sub-navigation__item">
                              <a class="moj-sub-navigation__link" href="#overview-noquestions">Overview of questions</a>
                            </li>
                            <li class="moj-sub-navigation__item">
                              <a class="moj-sub-navigation__link" aria-current="page"
                                href="#question-1-information-type">Question 7</a>
                            </li>
                          </ul>
                        </nav>

                        <div class="govuk-summary-card__title-wrapper govuk-!-padding-top-0"></div>

                        <span class="govuk-caption-l">Page 2</span>
                        <h2 class="govuk-heading-l">Edit question 7</h2>

                        <form method="post" id="options-form"
                          action="/redesigntest/templates/more-than-1-question/email/overview">
                          {% from "govuk/components/input/macro.njk" import govukInput %}

                          <!-- Question Label Input -->
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="multi-question-label-input-email">
                              Question
                            </label>
                            <input class="govuk-input" id="multi-question-label-input-email"
                              name="multiQuestionLabelInputEmail" autocomplete="off" type="text" value="">
                          </div>


                          <!-- Hint Text Input -->
                          {{ govukTextarea({
                          label: {
                          text: "Hint text (optional)",
                          classes: "govuk-label--m"
                          },
                          id: "multi-question-hint-text-input-email",
                          name: "multiQuestionHintTextInputEmail",
                          value: data['multi-question-hint-text-input-email'],
                          classes: "govuk-textarea",
                          rows: 3,
                          describedBy: "multi-question-hint-text-input-email"
                          }) }}

                          <!-- Make Optional Checkbox -->
                          <div class="govuk-form-group">
                            <div class="govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="make-optional" name="makeOptional"
                                  type="checkbox" value="optional">
                                <label class="govuk-label govuk-checkboxes__label" for="make-optional">
                                  Make this question optional
                                </label>
                              </div>
                            </div>
                          </div>


                          {{ govukInput({
                          label: {
                          text: "Short description",
                          classes: "govuk-label--m",
                          isPageHeading: false
                          },
                          hint: {
                          text: "Enter a short description for this question like 'licence period'. Short descriptions
                          are used in error messages and on the check your answers page."
                          },
                          id: "error-message-input-textarea",
                          name: "errorMessageInputTextarea"
                          }) }}

                          <!-- Answer limits -->
                          <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">
                                Set answer limits (optional)
                              </span>
                            </summary>
                            <div class="govuk-details__text">
                              <!-- Default Content for Question 1 -->
                              <div id="question-1-content" class="question-content" style="margin-top: 10px;">

                                {% include "/redesigntest/templates/answer-limits/classes.html" %}

                              </div>
                          </details>

                          <!-- Section Break -->
                          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                          <!-- Question Settings Summary List -->
                          <h2 class="govuk-heading-m">Question settings</h2>

                          {{ govukSummaryList({
                          "rows": [
                          {
                          "key": {
                          "text": "Type of information"
                          },
                          "value": {
                          "html": "Email address"
                          },
                          "actions": {
                          "items": [
                          {
                          "href": "/redesigntest/templates/1-question/information-type.html",
                          "text": "Change",
                          "visuallyHiddenText": " type"
                          }
                          ]
                          }
                          }
                          ]
                          }) }}

                          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                          <!-- Other form elements... -->

                          <!-- Submit Button -->
                          <div class="moj-button-action">
                            {{ govukButton({
                            text: 'Save and continue',
                            type: 'submit'
                            }) }}
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>


      <!-- Right Column for Preview -->
      <div class="govuk-grid-column-one-half-from-desktop" id="second-container"
        style="outline: solid 1px #008938; height: 100vh; overflow-y: auto; position: sticky; top: 0; padding: 20px; box-shadow: 5px 10px #008938;">
        <!-- Before content -->
        <div id="before-content" style=" background-color:  #cce2d8;">
          <p class="govuk-body-s" style="margin-bottom: 0; color: #005a30; padding: 2px 8px 3px;
text-align: center;"> Previews
          </p>
        </div>

        <div style="margin-top: 60px;">
          {% from "govuk/components/tabs/macro.njk" import govukTabs %}

          <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#tab-one">Page preview</a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#tab-two">Error messages</a>
              </li>
            </ul>

            <div class="govuk-tabs__panel" id="tab-one">


              {% include "/redesigntest/templates/previews-more-than-1-question/textarea/overview.html" %}
              {% include "/redesigntest/templates/previews-more-than-1-question/numbers/for-overview.html" %}
              {% include "/redesigntest/templates/previews-more-than-1-question/date/for-overview.html" %}

              {% include "/redesigntest/templates/previews-more-than-1-question/address/for-overview.html" %}

              {% include "/redesigntest/templates/previews-more-than-1-question/phone/for-overview.html" %}
              {# {% include "/redesigntest/templates/previews-more-than-1-question/fileupload/for-overview.html" %} #}

              <div id="border-left-container-email" name="borderLeftContainerEmail">
                {% include "/redesigntest/templates/previews-more-than-1-question/email/edit.html" %}
              </div>
            </div>
          </div>
        </div>

        <div class="govuk-tabs__panel" id="tab-two">

          <p class="govuk-body-s" style="margin-bottom: 30px; border-bottom: #008938 1px;">
            <a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">
              Preview error messages in a new tab
            </a>
          </p>
          <!-- Error Messages Content -->
          <!-- Error Messages Section -->
          <div class="govuk-error-summary" data-disable-auto-focus="true">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <ul class="govuk-list govuk-error-summary__list">
              <!-- List of errors -->
              <li><a id="empty-input-error-shorttext" class="govuk-error-message">Enter <span
                    id="error-dynamic-text">[short description]</span></a></li>

              <li><a id="empty-input-error-shorttext" class="govuk-error-message"><span id="error-dynamic-text">[Short
                    description]</span> must be in the correct format</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
    <!-- JavaScript code -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // DOM Elements
        const domElements = {
          // Existing elements
          multiQuestionLabelInputEmail: document.getElementById('multi-question-label-input-email'),
          multiQuestionLabelLegendEmail: document.getElementById('multi-question-label-legend-email'),
          multiQuestionHintTextInputEmail: document.getElementById('multi-question-hint-text-input-email'),
          multiQuestionHintTextOutputEmail: document.getElementById('multi-question-hint-text-output-email'),
          makeOptionalCheckbox: document.getElementById('make-optional'),

          // New elements for page heading and guidance text
          pageHeadingInputEmail: document.getElementById('page-heading-input-email'),
          dynamicHeading: document.getElementById('dynamic-heading'),
          guidanceEmail: document.getElementById('guidance-email'),
          guidanceParagraph: document.getElementById('guidance-paragraph')
        };

        // Initialize event listeners
        initializeEventListeners();

        function initializeEventListeners() {
          // Update question label
          if (domElements.multiQuestionLabelInputEmail && domElements.multiQuestionLabelLegendEmail) {
            domElements.multiQuestionLabelInputEmail.addEventListener('input', updateQuestionLabel);
          }

          // Update hint text and handle placeholder
          if (domElements.multiQuestionHintTextInputEmail && domElements.multiQuestionHintTextOutputEmail) {
            domElements.multiQuestionHintTextInputEmail.addEventListener('input', updateHintText);
            domElements.multiQuestionHintTextInputEmail.addEventListener('focus', showPlaceholderHint);
            domElements.multiQuestionHintTextInputEmail.addEventListener('blur', clearPlaceholderHint);
          }

          // Update page heading and handle placeholder
          if (domElements.pageHeadingInputEmail && domElements.dynamicHeading) {
            domElements.pageHeadingInputEmail.addEventListener('input', updatePageHeading);
            domElements.pageHeadingInputEmail.addEventListener('focus', showPlaceholderHeading);

            domElements.pageHeadingInputEmail.addEventListener('blur', clearPlaceholderHeading);
          }

          // Update optional label
          if (domElements.makeOptionalCheckbox) {
            domElements.makeOptionalCheckbox.addEventListener('change', updateQuestionLabel);
          }

          // Update page heading
          if (domElements.pageHeadingInputEmail && domElements.dynamicHeading) {
            domElements.pageHeadingInputEmail.addEventListener('input', updatePageHeading);
          }

          // Update guidance text and handle placeholder
          if (domElements.guidanceEmail && domElements.guidanceParagraph) {
            domElements.guidanceEmail.addEventListener('input', updateGuidanceText);
            domElements.guidanceEmail.addEventListener('focus', showPlaceholderGuidance);
            domElements.guidanceEmail.addEventListener('blur', clearPlaceholderGuidance);
          }



          // Apply focus/blur highlighting
          applyHighlightOnFocus(domElements.multiQuestionLabelInputEmail, domElements.multiQuestionLabelLegendEmail);
          applyHighlightOnFocus(domElements.multiQuestionHintTextInputEmail, domElements.multiQuestionHintTextOutputEmail);
          applyHighlightOnFocus(domElements.pageHeadingInputEmail, domElements.dynamicHeading);
          applyHighlightOnFocus(domElements.guidanceEmail, domElements.guidanceParagraph);
        }
        function updateQuestionLabel() {
          const suffix = domElements.makeOptionalCheckbox.checked ? ' (optional)' : '';
          domElements.multiQuestionLabelLegendEmail.textContent = domElements.multiQuestionLabelInputEmail.value || 'Question';
          domElements.multiQuestionLabelLegendEmail.textContent += suffix;
        }

        function updateHintText() {
          domElements.multiQuestionHintTextOutputEmail.textContent = domElements.multiQuestionHintTextInputEmail.value;
        }

        function updatePageHeading() {
          domElements.dynamicHeading.textContent = domElements.pageHeadingInputEmail.value;
        }

        function updateGuidanceText() {
          domElements.guidanceParagraph.textContent = domElements.guidanceEmail.value;
        }

        function applyHighlightOnFocus(inputElement, targetElement) {
          if (inputElement && targetElement) {
            inputElement.addEventListener('focus', function () {
              targetElement.classList.add('highlight');
            });
            inputElement.addEventListener('blur', function () {
              targetElement.classList.remove('highlight');
            });

            // If the input is already focused
            if (document.activeElement === inputElement) {
              targetElement.classList.add('highlight');
            }
          }
        }

        // Placeholder handling for hint text
        function showPlaceholderHint() {
          if (!domElements.multiQuestionHintTextInputEmail.value) {
            domElements.multiQuestionHintTextOutputEmail.textContent = 'Hint text';
          }
        }

        function clearPlaceholderHint() {
          if (!domElements.multiQuestionHintTextInputEmail.value) {
            domElements.multiQuestionHintTextOutputEmail.textContent = '';
          }
        }

        // Placeholder handling for page heading
        function showPlaceholderHeading() {
          if (!domElements.pageHeadingInputEmail.value) {
            domElements.dynamicHeading.textContent = 'Page heading';
          }
        }

        function clearPlaceholderHeading() {
          if (!domElements.pageHeadingInputEmail.value) {
            domElements.dynamicHeading.textContent = '';
          }
        }

        // Placeholder handling for guidance text
        function showPlaceholderGuidance() {
          if (!domElements.guidanceEmail.value) {
            domElements.guidanceParagraph.textContent = 'Guidance text';
          }
        }

        function clearPlaceholderGuidance() {
          if (!domElements.guidanceEmail.value) {
            domElements.guidanceParagraph.textContent = '';
          }
        }
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var secondContainer = document.getElementById("second-container");
        var borderLeftContainerEmail = document.getElementById("border-left-container-email");

        if (secondContainer && borderLeftContainerEmail) {
          // Scroll the `borderLeftContainerTextarea` element into view within `second-container`
          borderLeftContainerEmail.scrollIntoView({
            behavior: "smooth",
            block: "nearest"
          });
          console.log("Scrolled to border-left-container-textarea within second-container");
        } else {
          console.log("second-container or border-left-container-textarea not found");
        }
      });

    </script>


    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // DOM Elements
        const domElements = {
          multiQuestionLabelInputTextarea: document.getElementById('multi-question-label-input-textarea'),
          errorMessageInputTextarea: document.getElementById('error-message-input-textarea'),
          errorMessagePreviewElements: document.querySelectorAll("#error-dynamic-text, #error-dynamic-text-long, #error-dynamic-text-short, #error-dynamic-text-range"),
          makeOptionalCheckbox: document.getElementById('make-optional'),
          minCharactersInput: document.getElementById('min-characters'),
          maxCharactersInput: document.getElementById('max-characters'),
          minCharactersPreview: document.querySelectorAll("#min-characters, #min-length, #min-length-range"),
          maxCharactersPreview: document.querySelectorAll("#max-characters, #max-length, #max-length-range"),
          errorMessagePreviewSummary: document.getElementById('error-message-preview-summary') // Add the details component
        };

        // Initialize event listeners
        initializeEventListeners();

        function initializeEventListeners() {
          // Update short description and apply highlighting
          if (domElements.errorMessageInputTextarea && domElements.errorMessagePreviewElements.length) {
            domElements.errorMessageInputTextarea.addEventListener('input', updateErrorMessages);
            applyHighlightOnFocus(domElements.errorMessageInputTextarea, domElements.errorMessagePreviewElements);

            // Activate the details component on focus and deactivate on blur
            domElements.errorMessageInputTextarea.addEventListener('focus', openErrorMessagePreview);
            domElements.errorMessageInputTextarea.addEventListener('blur', closeErrorMessagePreview);
          }

          // Apply focus/blur highlighting to other elements
          applyHighlightOnFocus(domElements.multiQuestionLabelInputTextarea, document.getElementById('question-label-legend'));

          // Update character limits dynamically
          if (domElements.minCharactersInput && domElements.maxCharactersInput) {
            domElements.minCharactersInput.addEventListener('input', updateCharacterLimits);
            domElements.maxCharactersInput.addEventListener('input', updateCharacterLimits);
          }
        }

        function updateErrorMessages() {
          const shortDescription = domElements.errorMessageInputTextarea.value || '[Short description]';
          domElements.errorMessagePreviewElements.forEach(element => {
            element.textContent = shortDescription;
          });
        }

        function updateCharacterLimits() {
          const minCharacters = domElements.minCharactersInput.value || '[min length]';
          const maxCharacters = domElements.maxCharactersInput.value || '[max length]';

          domElements.minCharactersPreview.forEach(element => {
            element.textContent = minCharacters;
          });

          domElements.maxCharactersPreview.forEach(element => {
            element.textContent = maxCharacters;
          });
        }

        function applyHighlightOnFocus(inputElement, targetElements) {
          if (inputElement && targetElements) {
            inputElement.addEventListener('focus', function () {
              targetElements.forEach(target => target.classList.add('highlight'));
            });
            inputElement.addEventListener('blur', function () {
              targetElements.forEach(target => target.classList.remove('highlight'));
            });

            // If the input is already focused, apply the highlight immediately
            if (document.activeElement === inputElement) {
              targetElements.forEach(target => target.classList.add('highlight'));
            }
          }
        }

        // Function to open the details component when the input is focused
        function openErrorMessagePreview() {
          if (domElements.errorMessagePreviewSummary) {
            domElements.errorMessagePreviewSummary.setAttribute('open', 'open'); // Opens the details component
          }
        }

        // Function to close the details component when the input loses focus
        function closeErrorMessagePreview() {
          if (domElements.errorMessagePreviewSummary) {
            domElements.errorMessagePreviewSummary.removeAttribute('open'); // Closes the details component
          }
        }
      });
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        window.scrollTo(0, 0);
      });

    </script>




    <!-- CSS for Highlighting -->
    <style>
      .highlight {
        background-color: #ffe5cc;
        border-bottom: 2px solid #ffb266;
      }

      #before-content {
        position: absolute;
        top: 0;
        left: 10 !important;
        right: 0;
        width: 100%;
        padding: 10px !important;
        box-sizing: border-box;
        z-index: 1;
        border-bottom: 1px solid #008938;
        padding-left: 10px;
      }

      #second-container {
        padding: 0;
        box-sizing: border-box;
      }

      #second-container>* {
        padding-left: 0px;
        z-index: 2;
      }
    </style>
  </div>
</div>
{% endblock %}