<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="listPreview-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">

                {{ question.label or data['questionLabelInputCheckboxes'] or '' }}
            </h1>
        </legend>
        {% if data['multiQuestionHintTextInputRadios'] %}
        <div id="listPreview-hint" class="govuk-hint">
            {{ data['multiQuestionHintTextInputRadios'] }}
        </div>
        {% endif %}
        <div class="govuk-checkboxes" data-module="govuk-checkboxes" id="checkbox-list">
            {% for option in data.checkboxList %}
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="listPreview-option{{ loop.index0 }}" name="listPreview"
                    type="checkbox" value="{{ option.label }}">
                <label class="govuk-label govuk-checkboxes__label" for="listPreview-option{{ loop.index0 }}">
                    {{ option.label }}
                </label>
            </div>
            {% endfor %}
        </div>
    </fieldset>

</div>