{#
 <!-- New HTML content for before element -->
 <div id="before-content">
  <p class="govuk-body-s" style="margin-bottom: 0">
    <a
      href="#"
      class="govuk-link govuk-link--no-visited-state"
      rel="noreferrer noopener"
      target="_blank"
      >Preview this page in a new tab</a
    >
  </p>
</div>

<!-- Additional Content Here -->
<div class="additional-content">

  <div>
    <!-- Tag for Preview -->
    {{ govukTag({ text: "Preview of page 10", classes: "govuk-tag--yellow
    govuk-!-margin-bottom-2 govuk-!-margin-top-8" }) }}
    <!-- Form for Preview -->
         <!-- Dynamic Heading -->

 #}

         <div id="heading-container">
          {% set setName = data['setName'] or '' %}
          <span id="dynamic-caption" class="govuk-caption-xl" data-setname="{{ setName }}">{{ data['setName'] or '' }} 1</span>


          <h1 class="govuk-heading-xl" id="dynamic-heading">{{ data['pageHeadingNumbers'] or '' }}</h1>
        </div>

 <!-- Guidance Paragraph -->
<p class="govuk-body" id="guidance-paragraph">{{ data['guidanceNumbers'] or '' }}</p>


<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" id="question-label-legend-numbers">
      {{ data['questionLabelInputNumbers'] or '' }}
    </label>
  </h1>
  <div id="hint-text-output-numbers" class="govuk-hint">
    {{ data['hintTextInputNumbers'] or '' }}
  </div>

  <div class="govuk-input__wrapper">
    {% if data['prefixNumber'] %}
      <div class="govuk-input__prefix" aria-hidden="true">{{ data['prefixNumber'] }}</div>
    {% endif %}

    <input class="govuk-input govuk-input--width-10" id="numbers" name="Numbers" type="text" spellcheck="false" aria-describedby="numbers-hint" inputmode="numeric">

    {% if data['suffixNumber'] %}
      <div class="govuk-input__suffix" aria-hidden="true">{{ data['suffixNumber'] }}</div>
    {% endif %}
  </div>
</div>



  {% set setName = data['setName'] or '' %}
  {% set overview0 = data['overview0'] or '' %}

  {% if overview0 == "morethan1" %}
  {{ govukButton({
    text: "Add another " ~ setName,
    classes: "govuk-button govuk-!-margin-top-3",
    id: "add-another-set-button",
    disabled: true
  }) }}
  {% else %}
  {{ govukButton({
    text: "Continue",
    classes: "govuk-!-display-none govuk-button govuk-!-margin-top-6",
    id: "once-button",
    disabled: true
  }) }}
  {% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function () {
const dynamicCaption = document.getElementById("dynamic-caption");
const setName = dynamicCaption.getAttribute("data-setname");

if (!setName) {
  dynamicCaption.style.display = "none";
}
});

  </script>