{% extends "layouts/main.html" %}

{% block pageTitle %}
  Cookies – {{ serviceName }}
{% endblock %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

{% block content %}
 {{ govukFooter({
   meta: {
     items: [

       {
         href: "/policies/runner/help.html",
         text: "Get help with this form"
       },
       {
         href: "",
         text: "Accessibility statement"
       },
       {
         href: "/policies/runner/cookies.html",
         text: "Cookies"
       },
       {
        href: "",
        text: "Privacy"
      }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

    </div>
  </div>


