{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Editor - Apply for a county parish holding number in England" %}

{% set containerClasses = "app-width-container--full-width" %}
{% block header %}
  {{ serviceHeader({
    organisationName: "Defra",
    productName: "Forms Designer",
    serviceName: "",
    containerClasses: containerClasses,
    accountName: "Chris Smith",
    homepageLink: "/",
    signOutLink: "/onboarding/sign-out-confirmation",
    navigationItems: [
      {
        href: "/library.html",
        text: "Forms library",
        id: "library"
      },
      {
        href: "/cph-overview/draft/complete-clean.html",
        text: "Overview",
        id: "overview"
      },
      {
        href: "/editor-pets/0",
        text: "Editor",
        id: "editor"
      }
    ],
    activeLinkId: "editor",

  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
      {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
      {{ mojSideNavigation({
        label: 'Side navigation',
        classes: 'govuk-!-padding-top-0',
        items: [{
          text: 'Conditions',
          href: '/editor-pets/conditions/existing0.html',
          active: false
        }, {
          text: 'Sections',
          href: '#2'
        }, {
          text: 'Lists',
          href: '#3'
        }, {
          text: 'Links',
          href: '#4'
        }, {
          text: 'Summary behaviour',
          href: '#5'
        }]
      }) }}
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Take your pets abroad
        <span class="govuk-caption-m govuk-!-padding-top-2">Last updated at 11:32</span>
      </h1>

      <p class="govuk-body-s">Add a page to your form first and then add a question. As a guide, you should use one question per page.</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
    text: "Add question"
  }) }}

        {{ govukButton({
    text: "Flow view",
    classes: "govuk-button--secondary"
  }) }}
      </div>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {{ govukSummaryList({
  card: {
    title: {
      text: "1. What is your full name?"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Preview",
          visuallyHiddenText: "of University of Gloucestershire"
        },
        {
          href: "#",
          text: "Edit",
          visuallyHiddenText: "from University of Gloucestershire"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Components"
      },
      value: {
        html: "Guidance and text input"
      }
    },
    {
      key: {
        text: "From"
      },
      value: {
        html: "Start page"
      }
    },
    {
      key: {
        text: "Goes to"
      },
      value: {
        html: "2. What is your address?"
      }
    }
  ]
}) }}

      <div class="custom-summary-list">
        {{ govukSummaryList({
  card: {
    title: {
      text: "2. What is your address?"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Preview",
          visuallyHiddenText: "of University of Bristol"
        },
        {
          href: "#",
          text: "Edit",
          visuallyHiddenText: "from University of Bristol"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Components"
      },
      value: {
        html: "UK address"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Add",
            visuallyHiddenText: "age"
          }
        ]
      }
    },
    {
      key: {
        text: "From"
      },
      value: {
        html: "1. What is your full name?"
      }
    },
    {
      key: {
        text: "Goes to"
      },
      value: {
        html: "2. What is your address?"
      }
    }
  ]
}) }}
      </div>

    {% endblock %}

    <form class="form" action="/path/of/next/page" method="post"></form>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>govuk-grid-column-two-thirds</p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <p>govuk-grid-column-one-half</p>
          </div>
          <div class="govuk-grid-column-one-half">
            <p>govuk-grid-column-one-half</p>
          </div>
        </div>
      </div>
    </div>