{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Where submitted forms are sent - Apply for a county parish holding number in England" %}

{% block header %}
  {{ serviceHeader({
    organisationName: "Defra",
    productName: "Forms Designer",
    serviceName: "",
    accountName: "Chris Smith",
    homepageLink: "/",
    signOutLink: "/onboarding/sign-out-confirmation",
    navigationItems: [
    {
      href: "/library.html",
      text: "Forms library",
      id: "library"
     },
    {
      href: "/cph-overview/draft/complete.html",
      text: "Overview",
      id: "overview"
     },{
         href: "/editor.html",
    text: 'Editor',
    id: 'editor'
    }],
    activeLinkId: "/"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <h2 class="govuk-heading-m">Where submitted forms will be sent to</h2>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: {
            text: "Method"
          },
          value: {
            text: "Email and SharePoint folder"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Email address submitted forms will be sent to"
          },
          value: {
            html: "PolicyTeam@defra.gov.uk <br> in JSON format
            "
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        },
        {
          key: {
            text: "SharePoint folder submitted forms will be sent to"
          },
          value: {
            html: "https://defra.sharepoint.com/teams/Team811/GOVUK/Forms/AllItems.aspx<br> as a CSV file"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "customer reference"
              }
            ]
          }


          }

      ]
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">We'll check that we have permission to send files to your SharePoint folder and confirm this to you on the next page.</p>

    <form action="/form-output/in-defra-v2/success.html" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      {{ govukButton({
        href: "/form-output/in-defra-v2/success.html",
        text: "Submit"
      }) }}

    </form>

  </div>
</div>

{% endblock %}