{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Where submitted forms are sent - Apply for a county parish holding number in England" %}

{% block header %}
  {{ serviceHeader({
    organisationName: "Defra",
    productName: "Forms Designer",
    serviceName: "",
    accountName: "Chris Smith",
    homepageLink: "/",
    signOutLink: "/onboarding/sign-out-confirmation",
    navigationItems: [
    {
      href: "/library.html",
      text: "Forms library",
      id: "library"
     },
    {
      href: "/cph-overview/draft/complete.html",
      text: "Overview",
      id: "overview"
     },{
         href: "/editor.html",
    text: 'Editor',
    id: 'editor'
    }],
    activeLinkId: "/"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <h1 class="govuk-heading-xl">Apply for a county parish holding number in England</h1> -->

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
      <span class="govuk-caption-l">Apply for a county-parish-holding-number</span>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
  label: {
    text: "Email address for submitted forms to be sent to",
    classes: "govuk-label--l",
    isPageHeading: true
  },
hint: {
  text: "Used to send submitted forms for processing. Must must end with ‘.gov.uk’ or ‘.org.uk’, like name@example.gov.uk or name@example.org.uk
"
},
  id: "notification-email",
  name: "notificationEmail"
}) }}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "You should test it before making a form live."
}) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        <a href="/form-output/in-defra-v2/sharepoint-details.html">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </a>
        <a href="javascript:window.history.back()">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </a>
      </div>
    </div>
  </div>


{% endblock %}