{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Where submitted forms are sent - Apply for a county parish holding number in England" %}

{% block header %}
  {{ serviceHeader({
    organisationName: "Defra",
    productName: "Forms Designer",
    serviceName: "",
    accountName: "Chris Smith",
    homepageLink: "/",
    signOutLink: "/onboarding/sign-out-confirmation",
    navigationItems: [
    {
      href: "/library.html",
      text: "Forms library",
      id: "library"
     },
    {
      href: "/cph-overview/draft/complete.html",
      text: "Overview",
      id: "overview"
     },{
         href: "/editor.html",
    text: 'Editor',
    id: 'editor'
    }],
    activeLinkId: "/"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <h1 class="govuk-heading-xl">Apply for a county parish holding number in England</h1> -->

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
      <span class="govuk-caption-l">Apply for a county-parish-holding-number</span>

      {% from "govuk/components/input/macro.njk" import govukInput %}


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "sharepointFormat",
  fieldset: {
    legend: {
      text: "What format do you want forms to arrive into the SharePoint folder?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Choose 'Easy to read' if you’d like an email for a human to process in a CSV file. Select 'Data only' if you need the information in a computer-friendly format (JSON) for processing or integration with other systems."

  },
  items: [
    {
      value: "easy",
      text: "Easy to read CSV file
"

},
{
  value: "data",
  text: "Data as a JSON for computer systems
"

}
]
}) }}




      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        <a href="/form-output/in-defra-v2/check-answers.html">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </a>
        <a href="javascript:window.history.back()">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </a>
      </div>
    </div>
  </div>


{% endblock %}