<style>
  .border-left-container-textarea {
    border-left: 10px solid #ffb266;
    padding-left: 20px;
  }
</style>

 <!-- New HTML content for before element -->
 <div id="before-content">
  <p class="govuk-body-s" style="margin-bottom: 0">
    <a
      href="#"
      class="govuk-link govuk-link--no-visited-state"
      rel="noreferrer noopener"
      target="_blank"
      >Preview this page in a new tab</a
    >
  </p>
</div>

<!-- Additional Content Here -->
<div class="additional-content">

  <div>
    <!-- Tag for Preview -->
    {{ govukTag({ text: "Preview of page 2", classes: "govuk-tag--yellow
    govuk-!-margin-bottom-2 govuk-!-margin-top-8" }) }}
    <!-- Form for Preview -->
         <!-- Dynamic Heading -->



         <div id="heading-container">
          {% set setName = data['setName'] or '' %}
          <span id="dynamic-caption" class="govuk-caption-xl" data-setname="{{ setName }}">{{ data['setName'] or '' }} 1</span>

          <h1 class="govuk-heading-xl" id="dynamic-heading">{{ data['pageHeading'] or '' }}</h1>
        </div>

 <!-- Guidance Paragraph -->
<p class="govuk-body" id="guidance-paragraph">{{ data['guidanceText'] or '' }}</p>

<div class="border-left-container-textarea">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="text-input-field" id="question-label-legend">
     Question
    </label>
  </h1>
  <div id="hint-text-output" class="govuk-hint">

  </div>
  <textarea class="govuk-textarea" rows="5" id="text-input-field" name="textInputField" type="text" aria-describedby="hint-text-output"></textarea>
  </div>


  <details class="govuk-details" id="error-message-preview-summary">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Error messages for this question</span>
    </summary>
    <div class="govuk-details__text">
      <!-- Error Messages Section -->
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <ul class="govuk-list govuk-error-summary__list">
          <!-- Empty input error -->
          <li>

            <a id="empty-input-error-textarea" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              Enter <span id="error-dynamic-text" style="text-transform: lowercase;"
              >[short description]</span>
            </a>
          </li>

          <h3 class="govuk-heading-s">If you set answer limits:</h3>

          <!-- Too long input error -->
          <li>
            <a id="too-long-input-error-textarea" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              <span id="error-dynamic-text-long"
              >[Short description]</span> must be
              <span id="max-length">[max length]</span> characters or less
            </a>
          </li>
          <!-- Too short input error -->
          <li>
            <a id="too-short-input-error-textarea" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              <span id="error-dynamic-text-short"
              >[Short description]</span> must be
              <span id="min-length">[min length]</span> characters or more
            </a>
          </li>
          <!-- Input within range error -->
          <li>
            <a id="range-input-error-textarea" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              <span id="error-dynamic-text-range"
              >[Short description]</span> must be between
              <span id="min-length-range">[min length]</span> and
              <span id="max-length-range">[max length]</span> characters
            </a>
          </li>
        </ul>
      </div>
    </div>
  </details>

  </div>

  {% set setName = data['setName'] or '' %}
  {% set overview0 = data['overview0'] or '' %}

  {% if overview0 == "morethan1" %}
  {{ govukButton({
    text: "Add another " ~ setName,
    classes: "govuk-button govuk-!-margin-top-3",
    id: "add-another-set-button",
    disabled: true
  }) }}
  {% else %}
  {{ govukButton({
    text: "Continue",
    classes: "govuk-button govuk-!-margin-top-6",
    id: "once-button",
    disabled: true
  }) }}
  {% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function () {
const dynamicCaption = document.getElementById("dynamic-caption");
const setName = dynamicCaption.getAttribute("data-setname");

if (!setName) {
  dynamicCaption.style.display = "none";
}
});

  </script>

