
<!-- Additional Content Here -->
<div class="additional-content">

    <div>
      <!-- Tag for Preview -->

      <!-- Form for Preview -->
           <!-- Dynamic Heading -->



           <div id="heading-container">
            {# {% set setName = data['setName'] or '' %}
            <span id="dynamic-caption" class="govuk-caption-xl" data-setname="{{ setName }}">{{ data['setNameShorttext'] or '' }} 1</span> #}

            <h1 class="govuk-heading-xl" id="dynamic-heading">{{ data['pageHeadingInputMoreThan1'] or '' }}</h1>

              <!-- Guidance Paragraph -->
              <p class="govuk-body" id="guidance-paragraph">{{ data['guidanceMoreThan1'] or '' }}</p>
          </div>