{% macro rightColumnPreview(previewContent, errorMessages, tabs) %}
  <div class="govuk-grid-column-one-half-from-desktop" id="second-container" style="outline: solid 1px #008938; height: 100%; position: sticky; top: 0; padding: 20px; box-shadow: 5px 10px #008938;">

    <!-- Before content -->
    <div id="before-content" style="background-color: #cce2d8;">
      <p class="govuk-body-s" style="margin-bottom: 0; color: #005a30; padding: 2px 8px 3px; text-align: center;">
        Previews
      </p>
    </div>

    <div style="margin-top: 60px;">
      {% from "govuk/components/tabs/macro.njk" import govukTabs %}

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">Contents</h2>
        <ul class="govuk-tabs__list">
          {% for tab in tabs %}
            <li class="govuk-tabs__list-item {% if loop.first %}govuk-tabs__list-item--selected{% endif %}">
              <a class="govuk-tabs__tab" href="#{{ tab.id }}">{{ tab.label }}</a>
            </li>
          {% endfor %}
        </ul>

        {% for tab in tabs %}
          <div class="govuk-tabs__panel" id="{{ tab.id }}">
            {{ tab.content | safe }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}
