<div id="heading-container">
  {% set setName = data['setName'] or '' %}
  <span id="dynamic-caption" class="govuk-caption-xl" data-setname="{{ setName }}">{{ data['setName'] or '' }}</span>
  <h1 class="govuk-heading-xl" id="dynamic-heading">{{ data['pageHeadingInputCheckboxes'] or '' }}</h1>
</div>



<!-- Guidance Paragraph -->
<p class="govuk-body" id="guidance-paragraph">{{ data['guidanceText'] or '' }}</p>

<div class="border-left-container">
  <div id="checkbox-list">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading" id="multi-question-output-checkboxes">
          {{ data.formPages[data.currentPageIndex].questions[0].label or "Checkboxes question" }}
        </h1>
      </legend>

      <!-- Custom checkboxes without govuk-form-group -->
      <fieldset class="govuk-fieldset" aria-describedby="multi-question-hint-text-output-checkboxes">
        <div id="multi-question-hint-text-output-checkboxes" class="govuk-hint"></div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          {% if data.formPages[data.currentPageIndex].checkboxList and
          data.formPages[data.currentPageIndex].checkboxList.length > 0 %}
          {% for checkbox in data.formPages[data.currentPageIndex].checkboxList %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checkbox-{{ loop.index }}" name="checkbox-group" type="checkbox"
              value="{{ checkbox.value }}">
            <label class="govuk-label govuk-checkboxes__label" for="checkbox-{{ loop.index }}">
              {{ checkbox.label }}
            </label>
            {% if checkbox.hint %}
            <div id="checkbox-{{ loop.index }}-hint" class="govuk-hint govuk-checkboxes__hint">
              {{ checkbox.hint }}
            </div>
            {% endif %}
          </div>
          {% endfor %}
          {% else %}
          <p class="govuk-body">No options available.</p>
          {% endif %}
        </div>
      </fieldset>
    </fieldset>
  </div>
</div>


{# </div>
</div>
</form> #}

{#
{% set setName = data['setName'] or '' %}
{% set overview0 = data['overview0'] or '' %}

{% if overview0 == "morethan1" %}
{{ govukButton({
text: "Add another " ~ setName,
classes: "govuk-button govuk-!-margin-top-3",
id: "add-another-set-button",
disabled: true
}) }}
{% else %}
{{ govukButton({
text: "Continue",
classes: "govuk-button govuk-!-margin-top-6",
id: "once-button",
disabled: true
}) }}
{% endif %} #}
{# </div>
</div>
</div>
</div> #}

<script>
  /*document.addEventListener("DOMContentLoaded", function () {
const dynamicCaption = document.getElementById("dynamic-caption");
const setName = dynamicCaption.getAttribute("data-setname");

if (!setName) {
dynamicCaption.style.display = "none";
}
});*/

</script>

<style>
  .border-left-container {
    border-left: 10px solid #ffb266;
    padding-left: 20px;
  }
</style>