{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "components/example/macro.njk" import example %}

{% block pageTitle %}
  GOV.UK page template –
  {{ serviceName }}
  – GOV.UK Prototype Kit
{% endblock %}

{% set errorsHtml %}
  <h2 class="govuk-heading-l">Past week</h2>

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endset %}

{% block content %}
  {{ example({
    title: "Example",
    example: "default",
    html: true,
    nunjucks: true,
    open: false
  }) }}

  <div class="app-example-wrapper" data-module="app-tabs">
    <div class="app-example app-example--tabs">
      <div class="app-example__toolbar">
        <a class="app-example__new-window" href="/components/date-input/default/" target="_blank">
          Open this example in a new tab
          <span class="govuk-visually-hidden">: date input</span>
        </a>
      </div>
      <iframe title="Date input example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--s" src="/components/date-input/default/index.html" loading="eager" id="iFrameResizer0" style="overflow: auto; height: 250px;"></iframe>
    </div>
    <div id="example-tabs" class="app-tabs" role="tablist">
      {{ govukTabs({
        id: "example-tabs",
        idPrefix: "example",
        items: [
          {
            id: "error-messages-tab",
            label: "Error messages",
            panel: {
              html: errorsHtml
            },
            attributes: {
              'aria-selected': 'false',
              'role': 'tab',
              'tabindex': '0',
              'aria-controls': 'panel-error-messages',
              'aria-expanded': 'false'
            }
          }
        ]
      }) }}

      <!-- Manually add a panel for illustration -->
      <div id="panel-error-messages" role="tabpanel" hidden="hidden">
        {{ errorsHtml }}
      </div>
    </div>
  </div>
{% endblock %}