{% extends "layouts/main.html" %}

{% from "components/service-header/macro.njk" import serviceHeader %}

{% set pageName = "Form library" %}

{% block header %}
  {{ serviceHeader({
    serviceName: "Defra form builder",
    pageName: "",
    accountName: "Chris Smith",
    homepageLink: "/",
    signOutLink: "/form-designer-v2/onboarding/sign-out-confirmation",
    navigationItems: [{
      href: "/",
      text: "Form library",
      id: "form-library"
    }],
    activeLinkId: "form-library"
  }) }}
{% endblock %}

{% block beforeContent %}
<!-- {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }} -->
<!-- <div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new">Steven Thomas</li>
    <li class="login-nav__list-item-new"><a href="/form-designer-V2/admin-2.html"
        class="govuk-link govuk-link app-c-topic-list__link brand__color--no-visited-state profile">Admin</a></li>
    <li class="login-nav__list-item-new"><a href="account?returnURL=dashboard-submitted"
        class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#"
        class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div> -->

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">Apply for a county parish holiding certificate</span>
      <h1 class="govuk-heading-xl">
        Form settings
      </h1>

      <h2 class="govuk-heading-m">Header</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Form name"
            },
            value: {
              text: "Apply for a county parish holiding certificate"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }



        ]
      }) }}

      <h2 class="govuk-heading-m">Notifications</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
            {
              key: {
                text: "Email address for receiving completed forms"
              },
              value: {
                html: '<a href="#" class="govuk-link">Enter email address</a>'
              }
            }
        ]
      }) }}

      <!-- <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form> -->

    </div>
  </div>
{% endblock %}
