{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<section class="organisation__margin-bottom" id="high-profile-groups">
  <h1 class="govuk-heading-l">
    Defra forms
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
  </h1>
  <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--padding govuk-!-margin-bottom-3">
Citizen facing components and patterns
</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->
    <ul class="govuk-list app-c-topic-list brand--department-for-environment-food-rural-affairs" lang="en">
      <li class="app-c-topic-list__item">
        <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/alpha/features/make-a-declaration-pattern">Make a declaration</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/alpha/features/report-the-location-pattern/contents">Report the location of something</a>
      </li>
</ul>
    <!-- <ul class="govuk-list">
      <li>
        <a href="/alpha/features/make-a-declaration-pattern">
          Make a declaration
        </a>
      </li>
      <li>
        <a href="/alpha/features/report-the-location-pattern/contents">
          Report the location of something
        </a>
      </li>
    </ul> -->
    </div>
  </section>

    <section class="organisation__margin-bottom" id="high-profile-groups">

      <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--padding gem-c-heading--border-top-5 brand--department-for-environment-food-rural-affairs brand__border-color govuk-!-margin-bottom-3">
    Form designer and builder
  </h2>
        <ul class="govuk-list app-c-topic-list brand--department-for-environment-food-rural-affairs" lang="en">
            <p class="govuk-body" style="width:66%">View journey specific 'to-'be' prototyopes that happen from the perspective of form designers. These are concepts and not approved for production.</p>
          <h3 class="govuk-heading-s" style="margin-top: 30px;">User management</h3>
          <p class="govuk-body">
            View a flow diagram of these journeys <a href="https://www.figma.com/file/1A9Tthy0CJeqp2rGNSKRjH/Defra-Form-Builder-flows?type=design&node-id=444-34968&mode=design&t=GzEdxxSFcLzguvDA-4" class="govuk-link govuk-link app-c-topic-list__link brand__color">in Figma</a>.
          <li class="app-c-topic-list__item">
          <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/form-designer/register/sign-in-or-create">Account creation journey</a></li>
          <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/form-designer-v2/admin-2">Admin page</a></li>
          <li class="app-c-topic-list__item">
          <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/form-designer-v2/admin/user-management/steven-thomas/add-user-page-1">Add a new user</a>
          <li class="app-c-topic-list__item">
            <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/form-designer-v2/admin/user-management/daniel-da-silveira.html">Edit a user</a>

          </li>


        </li>
  </ul>
  <h3 class="govuk-heading-s" style="margin-top: 30px;">Form management</h3>
  <ul class="govuk-list app-c-topic-list brand--department-for-environment-food-rural-affairs" lang="en">
    <li class="app-c-topic-list__item">
      <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/form-designer-v2/admin-2#forms">View forms</a>
    </li>
    <li class="app-c-topic-list__item">
      <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/form-designer-v2/forms/report-a-dead-wild-bird-live">View a specific form</a>
    </li>

      </section>

    <!--
    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->


  </div>
</div>

{% endblock %}