{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template –
  {{ serviceName }}
  – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <style>
    .editable:focus {
      @include govuk-focused-text;
      outline: 3px solid #ffdd00;
      /* Adjust color as needed */
      outline-offset: 0;
      /* Adjust as needed */
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var editables = document.querySelectorAll('.editable');
      editables.forEach(function (editable) {
        editable.addEventListener('mousedown', function (event) {
          if (event.detail === 1) { // Only prevent default on single click
            event.preventDefault(); // Prevent default behavior on mousedown to keep focus on editable
            editable.focus(); // Ensure the editable element gains focus
          }
        });
      });

      // Prevent label clicks from focusing the input
      var label = document.querySelector('label[for="event-name"]');
      label.addEventListener('click', function (event) {
        event.preventDefault();
      });
    });
  </script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/path/of/next/page" method="post">
        {% from "govuk/components/input/macro.njk" import govukInput %}
        <div>
          <label for="event-name" class="govuk-label govuk-label--l editable" contenteditable="true" aria-label="Edit the event name label">
            What is the name of the event?
          </label>
          <span id="event-name-hint" class="govuk-hint editable" contenteditable="true" aria-label="Edit the hint for the event name">
            The name you’ll use on promotional material
          </span>
          <input class="govuk-input" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
        </div>
      </form>
    </div>
  </div>

{% endblock %}