{# <!-- NEW VERSION -->

<div class="govuk-form-group govuk-!-margin-bottom-7">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
    <a href="dev/2-1/config?version=2-1" class="govuk-link govuk-link--no-visited-state">2.1 version</a>
    <span class="govuk-tag govuk-tag--purple" style="margin-left: 10px;">in progress</span>
  </h2>
  <span class="govuk-hint">27 November 2023 to 7 December 2023 (Sprints 2 to 3)</span>
  <p class="govuk-body">
  </p>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Main changes</span>

    </summary>

    <div class="govuk-details__text">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">What we've done</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Why we did it</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Links</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <!-- WHAT WE'VE DONE -->

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Added first designs for the PHEATS updates, pausing and restarting
              functionality in PHES. Also added the 'site handles' question to the PHEATS registration journey.</td>

            <!-- WHY WE DID IT -->

            <td class="govuk-table__cell">To address a business requirement to digitise and transform the existing
              paper process plus improve the existing PHES touchpoints</td>
            <td class="govuk-table__cell">

              <!-- LINKS -->

              <strong>PHEATS registration</strong>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="http://google.com/" class="govuk-link" target="_blank">site handles (opens in new
                    tab)</a></li>
                <li><a href="http://google.com/" class="govuk-link" target="_blank">site handles (opens in new
                    tab)</a></li>
              </ul>
            </td>
          </tr>

          <!-- ADD NEW ROW HERE       -->

        </tbody>
      </table>
    </div>
  </details>

  <!-- ADD NEW VERSION BELOW HERE -->

</div>
</div>
</div> #}