{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block head %}
{{ super() }}
<style>
    .app-service-banner {
        position: relative;
        width: 100%;
        z-index: 1000;
    }
</style>
{% endblock %}

{% block bodyStart %}
<aside class="app-service-banner" aria-labelledby="app-service-banner-description" aria-live="polite">
    <div class="govuk-width-container">
        <div class="govuk-warning-text app-service-banner__content">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden"><span id="app-service-banner-description">Important:</span></span>
                <span class="govuk-!-font-weight-bold" aria-hidden="true">This is not the latest version of the DxT
                    prototype: </span>
                <a href="https://dxt-prototype-682ae311ff10.herokuapp.com/form-editor/listing/"
                    class="govuk-link govuk-link--no-visited-state">go to the latest version</a> (password: forms2025)
            </strong>
        </div>
    </div>
</aside>
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% endblock %}


{% block footer %}
{{ govukFooter({
containerClasses: containerClasses,
navigation: [

{
title: "Quick links",
width: "full",
items: [
{
href: "/index.html",
text: "Kit of parts"
},
{
href: "https://defra-forms-mvp-prototype-6c025bd15252.herokuapp.com/",
text: "Heroku hosted prototype"
},
{
href: "https://github.com/defra-design/defra-forms-mvp-prototype",
text: "Github repo for prototype"
},
{
href: "/old-index.html",
text: "Old index with admin page patterns"
},
{
href: "dictionary.html",
text: "Dictionary"
},
{
href: "/manage-prototype",
text: "Manage prototype"
},
{
href: "/manage-prototype/clear-data",
text: "Clear data"
}
]
}
]
}) }}

{% endblock %}

{# {% block footer %}
{{ govukFooter({
meta: {
items: [{
href: "/cph-overview/draft.html",
text: "Kit of parts"
}, {
href: "dictionary.html",
text: "Dictionary"
}, {
href: "/cph-overview/guidance-policies",
text: "Restart guidance and policies"
}, {
href: "/manage-prototype/clear-data",
text: "Clear data"
}],
visuallyHiddenTitle: "Footer links"
}
}) }}
{% endblock %} #}

{% block scripts %}
{{ super() }}
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/screenwidth.js"></script>
<script src="/public/javascripts/comments.js"></script>
<script src="/public/javascripts/help.js"></script>
{% endblock %}